{% extends "templates/page.html" %}

{% block header %}
{% include "templates/navbar.html" %}
{% endblock %}

{% block content %}
<!-- Patient banner - above the sidebar/content grid -->
<div class="mx-4 mt-4 mb-2">
    {% include "templates/patient/banner.html" %}
</div>

<!-- Sidebar and main content in their own grid -->
<div class="grid grid-cols-1 md:grid-cols-4 md:gap-4 mx-4 mb-2">
    {% if menu %}
    <div class="col-span-1 md:mr-2">
        {% include "ui-core/templates/vertical-navigation.html" %}
    </div>
    <div class="col-span-3">
    {% block main %}
        {{ content|safe }}
    {% endblock %}
    </div>

    {% else %}
    <div class="col-span-1 md:col-span-4">
        {% block main %}
        {{ content|safe }}
        {% endblock %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}
