;; Synthetic FHIR Patient data for development and testing
;; Dates are stored as strings and parsed to java.time.LocalDate when loaded

[{:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "1111111111"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999998"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Smith"
    :org.hl7.fhir.HumanName/given  ["John" "Michael"]
    :org.hl7.fhir.HumanName/prefix ["Mr"]}]
  :org.hl7.fhir.Patient/gender    "male"
  :org.hl7.fhir.Patient/birthDate "1975-03-15"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["123 Test Street"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 1AA"}]}

 {:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "2222222222"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999997"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Jones"
    :org.hl7.fhir.HumanName/given  ["Sarah" "Elizabeth"]
    :org.hl7.fhir.HumanName/prefix ["Mrs"]}]
  :org.hl7.fhir.Patient/gender    "female"
  :org.hl7.fhir.Patient/birthDate "1982-07-22"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["456 Sample Avenue"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 2BB"}]}

 {:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "3333333333"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999996"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Williams"
    :org.hl7.fhir.HumanName/given  ["David" "Gareth"]
    :org.hl7.fhir.HumanName/prefix ["Mr"]}]
  :org.hl7.fhir.Patient/gender    "male"
  :org.hl7.fhir.Patient/birthDate "1968-11-30"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["789 Demo Lane"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 3CC"}]}

 {:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "4444444444"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999995"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Evans"
    :org.hl7.fhir.HumanName/given  ["Margaret" "Ann"]
    :org.hl7.fhir.HumanName/prefix ["Dr"]}]
  :org.hl7.fhir.Patient/gender    "female"
  :org.hl7.fhir.Patient/birthDate "1990-05-18"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["101 Example Road"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 4DD"}]}

 {:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "5555555555"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999994"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Davies"
    :org.hl7.fhir.HumanName/given  ["Thomas" "Hywel"]
    :org.hl7.fhir.HumanName/prefix ["Mr"]}]
  :org.hl7.fhir.Patient/gender    "male"
  :org.hl7.fhir.Patient/birthDate "1955-09-08"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["202 Placeholder Close"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 5EE"}]}

 {:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "6666666666"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999993"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Roberts"
    :org.hl7.fhir.HumanName/given  ["Emma" "Jane"]
    :org.hl7.fhir.HumanName/prefix ["Ms"]}]
  :org.hl7.fhir.Patient/gender    "female"
  :org.hl7.fhir.Patient/birthDate "1998-02-14"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["303 Mock Street"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 6FF"}]}

 {:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "7777777777"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999992"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Lewis"
    :org.hl7.fhir.HumanName/given  ["Christopher" "Paul"]
    :org.hl7.fhir.HumanName/prefix ["Mr"]}]
  :org.hl7.fhir.Patient/gender    "male"
  :org.hl7.fhir.Patient/birthDate "1972-12-25"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["404 Fictional Avenue"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 7GG"}]}

 {:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "8888888888"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999991"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Hughes"
    :org.hl7.fhir.HumanName/given  ["Rachel" "Louise"]
    :org.hl7.fhir.HumanName/prefix ["Mrs"]}]
  :org.hl7.fhir.Patient/gender    "female"
  :org.hl7.fhir.Patient/birthDate "1987-04-12"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["505 Dummy Terrace"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 8HH"}]}

 {:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "9999999999"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999990"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Morgan"
    :org.hl7.fhir.HumanName/given  ["James" "Owen"]
    :org.hl7.fhir.HumanName/prefix ["Mr"]}]
  :org.hl7.fhir.Patient/gender    "male"
  :org.hl7.fhir.Patient/birthDate "2001-06-30"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["606 Synthetic Boulevard"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 9JJ"}]}

 {:org.hl7.fhir.Patient/identifier
  [{:org.hl7.fhir.Identifier/system "https://fhir.nhs.uk/Id/nhs-number"
    :org.hl7.fhir.Identifier/value  "1010101010"}
   {:org.hl7.fhir.Identifier/system "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
    :org.hl7.fhir.Identifier/value  "A999989"}]
  :org.hl7.fhir.Patient/name
  [{:org.hl7.fhir.HumanName/use    "usual"
    :org.hl7.fhir.HumanName/family "Patel"
    :org.hl7.fhir.HumanName/given  ["Priya" "Anjali"]
    :org.hl7.fhir.HumanName/prefix ["Dr"]}]
  :org.hl7.fhir.Patient/gender    "female"
  :org.hl7.fhir.Patient/birthDate "1985-10-05"
  :org.hl7.fhir.Patient/address
  [{:org.hl7.fhir.Address/line       ["707 Testing Way"]
    :org.hl7.fhir.Address/city       "Cardiff"
    :org.hl7.fhir.Address/postalCode "CF99 0KK"}]}]
