{% extends "templates/page.html" %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Change Password</h2>
    {% if authentication-method = :NADEX %}
      <div class="mt-6 rounded-md bg-white px-6 py-10 shadow sm:mx-auto sm:w-full sm:max-w-md">
        <p class="text-red-600">Your account is authenticated via NADEX (NHS Wales Active Directory)</p>
        <p class="py-2">You cannot change your password through this application. Please use the NHS Wales password reset tools instead.</p>
        <div class="mt-5">
          <a href="/" class="w-full inline-flex justify-center rounded-md border shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:w-auto sm:text-sm">
            Return to Home
          </a>
        </div>
      </div>
    {% elif success %}
      <div class="mt-6 rounded-md bg-white px-6 py-10 shadow sm:mx-auto sm:w-full sm:max-w-md">
        <p class="text-green-600">{{ success }}</p>
        <div class="mt-5">
          <a href="/" class="w-full inline-flex justify-center rounded-md border shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:w-auto sm:text-sm">
            Return to Home
          </a>
        </div>
      </div>
    {% else %}
      <div class="mt-6 rounded-md bg-white px-6 py-10 shadow sm:mx-auto sm:w-full sm:max-w-md">
        {% if error %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative shadow-md mb-6" role="alert">
          <span class="block sm:inline">{{ error }}</span>
        </div>
        {% endif %}
        
        <form method="post" action="{{ action }}">
          <input type="hidden" name="__anti-forgery-token" value="{{ csrf-token }}">
          
          <div class="space-y-6">
            <div>
              <label for="current-password" class="block text-sm font-medium leading-6 text-gray-900">Current password</label>
              <div class="mt-2">
                <input id="current-password" name="current-password" type="password" autofocus required class="p-2 shadow sm-focus ring-indigo-500 border focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div>
              <label for="new-password" class="block text-sm font-medium leading-6 text-gray-900">New password</label>
              <div class="mt-2">
                <input id="new-password" name="new-password" type="password" required class="p-2 shadow sm-focus ring-indigo-500 border focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div>
              <label for="confirm-password" class="block text-sm font-medium leading-6 text-gray-900">Confirm new password</label>
              <div class="mt-2">
                <input id="confirm-password" name="confirm-password" type="password" required class="p-2 shadow sm-focus ring-indigo-500 border focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="flex items-center justify-between gap-2">
              <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Save Changes
              </button>
              <a href="/" class="w-full inline-flex justify-center rounded-md border shadow-sm px-4 py-2 text-base font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:w-auto sm:text-sm">
                Cancel
              </a>
            </div>
          </div>
        </form>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}