<nav id="{{id|default:navbar}}" class="bg-gray-800">
    <div class="mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-1.flex.items-center.justify-center.sm:items-stretch.sm:justify-start">
                <div class="flex-shrink-0 flex items-center">
					<a href="/" title="Home">
                    <span class="text-white rounded-md text-lg font-large font-bold">
						PatientCare v4
					</span>
                    </a>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <div class="ml-3 relative">
                    <div>
                        {% if user.notification %}
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"/>
                        </svg>
                        {% endif %}
                        <button id="user-menu-button"
                                hx-on:click="htmx.toggleClass('#user-menu', 'hidden')"
                                class="bg-gray-800 flex text-sm rounded-full">
                            <span class="sr-only">Open user menu</span>
                            <span class="text-white">
								<span class="flex">
									<span class="hidden sm:block">
										{{user.fullname|default:"User"}}
									</span>
									<span class="sm:hidden">
										{{user.initials|default:"User"}}
									</span>
                                    {% if user.menu %}
									<svg class="-mr-1 ml-2 h-5 w-5"
                                         viewBox="0 0 20 20" fill="white"
                                         aria-hidden="true">
										<path fill-rule="evenodd"
                                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                              clip-rule="evenodd">
										</path>
                                    </svg>
                                    {% endif %}
								</span>
							</span>
                        </button>

                        {% if user.menu %}
                        <div id="user-menu"
                             class="hidden origin-top-right absolute z-50 right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                             role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabIndex="-1">
                            {% for menuitem in user.menu %}
                            {% if menuitem.href %}
                            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-700 hover:text-white"
                               role="menuitem" tabIndex="-1"
                               href="{{menuitem.href}}">{{menuitem.title}}</a>
                            {% elif menuitem.post %}
                            <form method="post" action="{{menuitem.post}}">
                                <button class="w-full text-left block px-4 py-2 text-sm text-gray-700 hover:bg-gray-700 hover:text-white"
                                   role="menuitem" tabIndex="-1">{{menuitem.title}}</button>
                                <input type="hidden" name="__anti-forgery-token" value="{{csrf-token}}"/>
                            </form>
                            {% else %}
                            <span class="block px-4 py-2 text-sm italic text-gray-600">{{menuitem.title}}</span>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% else %}
                        <div id="user-menu"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
