{% extends "page.html" %}

{% block header %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-4 md:gap-4 m-4">
    <div class="col-span-1 md:mr-2">
        {{project.title}}
    </div>
    <div class="col-span-3">
        {% with title=project.title
                tint-class=project.tint-class
                subtitle-html=project.description
                items=project.items long-items=project.long-items %}
            {% include "ui/two-column-card.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
