{:paths
 ["src/clj" "src/cljc" "resources"]

 :deps
 {org.clojure/clojure                  {:mvn/version "1.12.0-alpha5"}
  org.clojure/clojurescript            {:mvn/version "1.11.121"
                                        :exclusions  [com.google.javascript/closure-compiler-unshaded
                                                      org.clojure/google-closure-library
                                                      org.clojure/google-closure-library-third-party]}

  org.clojure/core.async               {:mvn/version "1.6.681"}
  org.clojure/data.csv                 {:mvn/version "1.0.1"}
  org.clojure/data.xml                 {:mvn/version "0.2.0-alpha8"}
  org.clojure/data.zip                 {:mvn/version "1.0.0"}
  org.clojure/tools.cli                {:mvn/version "1.0.219"}
  org.clojure/tools.logging            {:mvn/version "1.2.4"}
  wonder.core/ERExtensions             {:mvn/version "7.4"
                                        :exclusions  [log4j/log4j
                                                      commons-logging/commons-logging]}

  com.eldrix/clods                     {:mvn/version "1.1.198"}
  com.eldrix/nhspd                     {:mvn/version "1.1.48"}
  com.eldrix/ods-weekly                {:mvn/version "0.1.43"}
  com.eldrix/nhs-number                {:mvn/version "1.0.54"}
  com.eldrix/concierge                 {:mvn/version "1.0.189"}
  com.eldrix/deprivare                 {:mvn/version "1.0.59"}
  com.eldrix/dmd                       {:mvn/version "0.6.153"}
  com.eldrix/hermes                    {:mvn/version "1.4.1320"}
  com.eldrix/zipf                      {:mvn/version "0.1.8"}

  aero/aero                            {:mvn/version "1.1.6"}
  binaryage/devtools                   {:mvn/version "1.0.7"}
  buddy/buddy-core                     {:mvn/version "1.11.423"}
  buddy/buddy-sign                     {:mvn/version "3.5.351"}
  com.draines/postal                   {:mvn/version "2.0.5"}
  com.fulcrologic/fulcro               {:mvn/version "3.6.10"}
  com.github.seancorfield/honeysql     {:mvn/version "2.4.1078"}
  com.github.seancorfield/next.jdbc    {:mvn/version "1.3.894"}
  com.teknql/shadow-cljs-tailwind-jit  {:mvn/version "1.0.0"}
  ;com.wsscode/pathom3                  {:mvn/version "2023.08.22-alpha"}
  com.wsscode/pathom3                  {:git/url "https://github.com/wilkerlucio/pathom3.git"
                                        :git/sha "370065d60032f28d532d0a46f2139d336a442b76"}
  com.zaxxer/HikariCP                  {:mvn/version "5.0.1"}
  day8.re-frame/http-fx                {:mvn/version "0.2.4"}

  expound/expound                      {:mvn/version "0.9.0"}
  integrant/integrant                  {:mvn/version "0.8.1"}
  lambdaisland/uri                     {:mvn/version "1.16.134"}
  metosin/malli                        {:mvn/version "0.13.0"}
  metosin/reitit-core                  {:mvn/version "0.7.0-alpha7"}
  metosin/reitit-http                  {:mvn/version "0.7.0-alpha7"}
  metosin/reitit-frontend              {:mvn/version "0.7.0-alpha7"}
  metosin/reitit-interceptors          {:mvn/version "0.7.0-alpha7"}
  metosin/reitit-malli                 {:mvn/version "0.7.0-alpha7"}
  metosin/reitit-spec                  {:mvn/version "0.7.0-alpha7"}
  metosin/reitit-pedestal              {:mvn/version "0.7.0-alpha7"}
  migratus/migratus                    {:mvn/version "1.5.3"}
  org.jsoup/jsoup                      {:mvn/version "1.16.1"}
  org.postgresql/postgresql            {:mvn/version "42.6.0"}
  town.lilac/pyramid                   {:mvn/version "3.4.0"}
  re-frame/re-frame                    {:mvn/version "1.4.0"}
  reagent/reagent                      {:mvn/version "1.2.0"}
  rum/rum                              {:mvn/version "0.12.11"}
  software.amazon.awssdk/s3            {:mvn/version "2.21.0"}
  software.amazon.awssdk/apache-client {:mvn/version "2.21.0"}
  thheller/shadow-cljs                 {:mvn/version "2.26.0"}}

 :mvn/repos
 {"project-wonder" {:url "https://maven.wocommunity.org/content/repositories/releases/"}
  "other"          {:url "https://maven.wocommunity.org/content/groups/public/"}}

 :aliases
 {:build         {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
                               slipset/deps-deploy           {:mvn/version "RELEASE"}}
                  :ns-default build}

  :run           {:exec-fn    com.eldrix.pc4.core/run
                  :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.4.11"}
                               io.pedestal/pedestal.service   {:mvn/version "0.6.1"}
                               io.pedestal/pedestal.jetty     {:mvn/version "0.6.1"}}
                  :jvm-opts   ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                               "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"
                               "--illegal-access=permit"]}

  :migrate       {:extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.4.11"}}
                  :exec-fn    com.eldrix.pc4.core/migrate}

  :repl-server   {:exec-fn    clojure.core.server/start-server
                  :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.4.11"}}
                  :exec-args  {:name          "repl-server"
                               :port          5555
                               :accept        clojure.core.server/repl
                               :server-daemon false}}

  :dev           {:extra-paths ["dev"]
                  :extra-deps  {com.wsscode/pathom-viz-connector         {:mvn/version "2022.02.14"}
                                com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.5"}
                                ch.qos.logback/logback-classic           {:mvn/version "1.4.11"}
                                day8.re-frame/tracing                    {:mvn/version "0.6.2"}
                                day8.re-frame/re-frame-10x               {:mvn/version "1.6.0"}
                                integrant/repl                           {:mvn/version "0.3.3"}
                                org.clojure/test.check                   {:mvn/version "1.1.1"}}
                  :jvm-opts    ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                                "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"
                                "--illegal-access=permit"]}
  :portal        {:extra-deps {djblue/portal {:mvn/version "0.48.0"}}}

  :morse         {:extra-deps {io.github.nubank/morse {:git/tag "v2023.10.06.02" :git/sha "88b5ff7"}}}

  :test          {:extra-paths ["test" "test/resources"]
                  :extra-deps  {org.clojure/test.check               {:mvn/version "1.1.1"}
                                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts   ["-m" "cognitect.test-runner"]
                  :jvm-opts    ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                                "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"]}

  :outdated      {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                  :main-opts  ["-m" "antq.core"]}

  :upgrade       {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                  :main-opts  ["-m" "antq.core" "--upgrade"]}

  :check         {:extra-deps {athos/clj-check
                               {:git/url "https://github.com/athos/clj-check.git"
                                :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
                  :main-opts  ["-m" "clj-check.check" "src"]}

  :lint/kondo    {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                  :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

  :lint/eastwood {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "fhir_r4" "serve"]}]
                  :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}}}

