{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure            {:mvn/version "1.10.3"}
           org.clojure/core.async         {:mvn/version "1.3.618"}
           org.clojure/data.csv           {:mvn/version "1.0.0"}
           org.clojure/data.xml           {:mvn/version "0.2.0-alpha6"}
           org.clojure/data.zip           {:mvn/version "1.0.0"}
           org.clojure/tools.cli          {:mvn/version "1.0.206"}
           org.clojure/tools.logging      {:mvn/version "1.1.0"}
           ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

           com.eldrix/clods               {:git/url "https://github.com/wardle/clods.git"
                                           :sha     "b9c3e00db3d6867dff436d050e29ee78014527c3"}
           com.eldrix/concierge           {:git/url "https://github.com/wardle/concierge.git"
                                           :sha     "bb738cbc775b2cfde1c3f6bc526cded1af300978"}
           com.eldrix/dmd                 {:git/url "https://github.com/wardle/dmd.git"
                                           :sha     "6716490efb871fa4f2e2a7ad846987f4428a6b5c"}
           com.eldrix/hermes              {:git/url "https://github.com/wardle/hermes.git"
                                           :sha     "a2b5bb3500e787af84b308a9fd886ae7406b63df"}

           aero/aero                      {:mvn/version "1.1.6"}
           cheshire/cheshire              {:mvn/version "5.10.0"}
           com.wsscode/pathom             {:git/url "https://github.com/wilkerlucio/pathom3"
                                           :sha     "ccb9ed70ac56c87b1e28a4958089c129e8c24fa8"}
           expound/expound                {:mvn/version "0.8.9"}
           integrant/integrant            {:mvn/version "0.8.0"}

           io.pedestal/pedestal.service   {:mvn/version "0.5.8"}
           io.pedestal/pedestal.jetty     {:mvn/version "0.5.8"}}

 :aliases {
           :dev       {:extra-paths ["dev"]
                       :extra-deps  {com.wsscode/pathom-viz-connector {:mvn/version "2021.04.20"}
                                     org.clojure/test.check           {:mvn/version "0.9.0"}}}

           :test      {:extra-paths ["test" "test/resources"]
                       :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                       :main-opts   ["-m" "cognitect.test-runner"]}

           :log       {:extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}}

           :outdated  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "antq.core"]}

           :check     {:extra-deps {athos/clj-check
                                    {:git/url "https://github.com/athos/clj-check.git"
                                     :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
                       :main-opts  ["-m" "clj-check.check" "src"]}

           ;; run with clj -M:serve:fhir-r4:check-all to test all codepaths
           :check-all {:extra-deps {athos/clj-check
                                    {:git/url "https://github.com/athos/clj-check.git"
                                     :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
                       :main-opts  ["-m" "clj-check.check" "src" "fhir_r4" "serve"]}

           :lint/kondo
                      {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
                      {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "fhir_r4" "serve"]}]
                       :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}

           ;; build a utility uberjar - just the command-line tools
           :uberjar   {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                       :exec-fn      hf.depstar/uberjar
                       :exec-args    {:jar        "target/pc4-server.jar"
                                      :aot        true
                                      :main-class com.eldrix.clods.core}}}}

