{:paths     ["src/clj" "src/cljc" "resources"]
 :deps      {org.clojure/clojure               {:mvn/version "1.11.1"}
             org.clojure/core.async            {:mvn/version "1.6.673"}
             org.clojure/data.csv              {:mvn/version "1.0.1"}
             org.clojure/data.xml              {:mvn/version "0.2.0-alpha8"}
             org.clojure/data.zip              {:mvn/version "1.0.0"}
             org.clojure/tools.cli             {:mvn/version "1.0.219"}
             org.clojure/tools.logging         {:mvn/version "1.2.4"}

             wonder.core/ERExtensions          {:mvn/version "7.3"
                                                :exclusions  [log4j/log4j
                                                              commons-logging/commons-logging]}

             com.eldrix/clods                  {:mvn/version "1.1.198"}
             com.eldrix/nhspd                  {:mvn/version "1.1.48"}
             com.eldrix/ods-weekly             {:mvn/version "0.1.43"}
             com.eldrix/concierge              {:mvn/version "1.0.150"}
             com.eldrix/deprivare              {:mvn/version "1.0.59"}
             com.eldrix/dmd                    {:mvn/version "0.6.153"}
             com.eldrix/hermes                 {:mvn/version "1.2.1201-alpha"}
             com.eldrix/comprehend             {:mvn/version "0.0.5"}
             com.eldrix.pc4/rsdb               {:local/root "../pc4-rsdb"}

             aero/aero                         {:mvn/version "1.1.6"}
             buddy/buddy-core                  {:mvn/version "1.11.418"}
             buddy/buddy-sign                  {:mvn/version "3.5.346"}
             com.amazonaws/aws-java-sdk-s3     {:mvn/version "1.12.477"}
             com.fulcrologic/fulcro            {:mvn/version "3.6.4"}
             com.github.seancorfield/honeysql  {:mvn/version "2.4.1033"}
             com.github.seancorfield/next.jdbc {:mvn/version "1.3.874"}
             com.wsscode/pathom3               {:mvn/version "2023.01.31-alpha"}
             com.zaxxer/HikariCP               {:mvn/version "5.0.1"}

             expound/expound                   {:mvn/version "0.9.0"}
             integrant/integrant               {:mvn/version "0.8.1"}

             org.jsoup/jsoup                   {:mvn/version "1.16.1"}
             org.postgresql/postgresql         {:mvn/version "42.6.0"}
             rum/rum                           {:mvn/version "0.12.10"}
             metosin/reitit-core               {:mvn/version "0.6.0"}
             metosin/reitit-pedestal           {:mvn/version "0.6.0"}}

 :mvn/repos {"project-wonder" {:url "https://maven.wocommunity.org/content/repositories/releases/"}
             "other"          {:url "https://maven.wocommunity.org/content/groups/public/"}}

 :aliases   {:build       {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}
                                        slipset/deps-deploy           {:mvn/version "RELEASE"}}
                           :ns-default build}

             :run         {:exec-fn    com.eldrix.pc4.core/run
                           :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.4.7"}
                                        io.pedestal/pedestal.service   {:mvn/version "0.5.10"}
                                        io.pedestal/pedestal.jetty     {:mvn/version "0.5.10"}
                                        ring/ring-core                 {:mvn/version "1.10.0"}
                                        ring-cors/ring-cors            {:mvn/version "0.1.13"}
                                        ring/ring-defaults             {:mvn/version "0.3.4"}
                                        http-kit/http-kit              {:mvn/version "2.6.0"}}
                           :jvm-opts   ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                                        "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"
                                        "--illegal-access=permit"]}

             :repl-server {:exec-fn    clojure.core.server/start-server
                           :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.4.7"}}
                           :exec-args  {:name          "repl-server"
                                        :port          5555
                                        :accept        clojure.core.server/repl
                                        :server-daemon false}}

             :dev         {:extra-paths ["dev"]
                           :extra-deps  {com.wsscode/pathom-viz-connector         {:mvn/version "2022.02.14"}
                                         com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}
                                         ch.qos.logback/logback-classic           {:mvn/version "1.4.7"}
                                         org.clojure/test.check                   {:mvn/version "1.1.1"}}
                           :jvm-opts    ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                                         "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"
                                         "--illegal-access=permit"]}

             :morse       {:extra-deps {io.github.nubank/morse {:git/tag "v2023.04.30.01" :git/sha "d99b09c"}}}

             :portal      {:extra-deps {djblue/portal {:mvn/version "0.40.0"}}}

             :reveal      {:extra-deps {vlaaad/reveal {:mvn/version "1.3.280"}}
                           :main-opts  ["-m" "vlaaad.reveal" "repl"]}

             :test        {:extra-paths ["test" "test/resources"]
                           :extra-deps  {org.clojure/test.check               {:mvn/version "1.1.1"}
                                         io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                           :main-opts   ["-m" "cognitect.test-runner"]}

             :outdated    {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                           :main-opts  ["-m" "antq.core"]}

             :upgrade     {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                           :main-opts  ["-m" "antq.core" "--upgrade"]}

             :check       {:extra-deps {athos/clj-check
                                        {:git/url "https://github.com/athos/clj-check.git"
                                         :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
                           :main-opts  ["-m" "clj-check.check" "src"]}

             :lint/kondo
             {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
              :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

             :lint/eastwood
             {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "fhir_r4" "serve"]}]
              :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}}}

