{:deps     true

 :nrepl    {:port 8777}

 :builds   {:app {:target            :browser
                  :output-dir        "resources/public/js/compiled"
                  :asset-path        "/js/compiled"
                  :modules           {:app {:init-fn  eldrix.pc4-ward.core/init
                                            :preloads [devtools.preload]}}
                  :module-hash-names true
                  :tailwind/output   "resources/public/css/output.css"
                  :tailwind/files    {:base-path    "./."   ;; Path to directory housing `tailwind.config.js` and `postcss.config.js`
                                      :tailwind.css "./resources/tailwind.css"}
                  :dev               {:build-hooks      [(teknql.tailwind/start-watch!)]
                                      :compiler-options {:closure-defines {re-frame.trace.trace-enabled?        true
                                                                           day8.re-frame.tracing.trace-enabled? true
                                                                           eldrix.pc4_ward.config.login-url     "http://localhost:8080/login"
                                                                           eldrix.pc4_ward.config.api-url       "http://localhost:8080/api"}}}
                  :release           {:build-hooks      [(teknql.tailwind/compile-release!)]
                                      :compiler-options {:closure-defines {eldrix.pc4_ward.config.login-url "https://patientcare.app/login"
                                                                           eldrix.pc4_ward.config.api-url   "https://patientcare.app/api"}}}}}}
