{% if users|not-empty %}
{% for user in users %}
<div class="relative px-6 py-4 cursor-pointer border-b border-gray-100 flex flex-col transition-colors duration-200 {% if user.user-id = selected.user-id %}bg-green-50 hover:bg-green-100{% else %}hover:bg-gray-50{% endif %} last:border-b-0"
     id="{{user.user-id}}"
     hx-post="{{url}}"
     hx-params="__anti-forgery-token,data,{{action-key}}"
     hx-target="#{{target}}">
    {% if user.user-id = selected.user-id %}
    <div class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-gray-500 text-white w-7 h-7 flex items-center justify-center rounded-full">
        {% include "ui-core/templates/icon-selected.html" %}
    </div>
    {% endif %}
    <div class="font-medium mb-1">{{user.full-name}}</div>
    <div class="text-gray-600 text-sm">{{user.job-title}}</div>
</div>
{% endfor %}
{% else %}
<div class="px-6 py-4 text-gray-500 text-center">
    {% if mode = :all-users %}
        {% if s %}
            No users found matching "{{s}}"
        {% else %}
            Enter 3 or more characters to search all users
        {% endif %}
    {% else %}
        {% if s %}
            No colleagues found matching "{{s}}"
        {% else %}
            You have no colleagues.
        {% endif %}
    {% endif %}
</div>
{% endif %}