;;
;; This is an integrant configuration file
;;
;; There are three main profiles currently:
;; - :dev    : this profile is used during development
;; - :cvx    : this profile is active when deployed in a live NHS clinical environment (on server cvx-neuro01)
;; - :pc4    : this profile is active when deployed on AWS infrastructure
;;
;;

{:secrets                            #include #join [#env HOME "/.secrets.edn"]

 :com.eldrix.rsdb/conn               #profile {:default {:dbtype          "postgresql"
                                                         :dbname          "rsdb"
                                                         :maximumPoolSize 10}
                                               :pc4     {:dbtype          "postgresql"
                                                         :host            #ref [:secrets :pc4-db :host]
                                                         :username        #ref [:secrets :pc4-db :username]
                                                         :password        #ref [:secrets :pc4-db :password]
                                                         :dbname          "rsdb"
                                                         :maximumPoolSize 10}}

 :com.eldrix.rsdb/config             {:legacy-global-pseudonym-salt #ref [:secrets :eldrix.pseudonym.global-salt]}

 :com.eldrix/clods                   #profile {:default {:ods-path   "/Users/mark/Dev/clods/ods-2021-06-25"
                                                         :nhspd-path "/Users/mark/Dev/nhspd/nhspd-2021-08-16.db"}
                                               :pc4     {:ods-path   "/var/pc4/ods-2021-06-25.db"
                                                         :nhspd-path "/var/pc4/nhspd-2021-08-16.db"}}

 :com.eldrix/deprivare               {:path #profile {:default "/Users/mark/Dev/deprivare/depriv.db"
                                                      :pc4     "/var/pc4/depriv.db"}}

 :com.eldrix/dmd                     {:path #profile {:default "/Users/mark/Dev/dmd/dmd-2021-09-27.db"
                                                      :pc4     "/var/pc4/dmd-2021-09-27.db"}}

 :com.eldrix/hermes                  {:path #profile {:default "/Users/mark/Dev/hermes/snomed.db"
                                                      :pc4     "/var/pc4/snomed-2021-07-07.db"}}

 :com.eldrix/comprehend              {:com.eldrix/hermes #ig/ref :com.eldrix/hermes
                                      :access-key-id     #ref [:secrets :aws-access-key-id]
                                      :secret-access-key #ref [:secrets :aws-secret-access-key]}

 :com.eldrix.concierge/nadex         #profile {:cvx     {:connection-pool-size  5
                                                         :default-bind-username #ref [:secrets :nadex-bind-username]
                                                         :default-bind-password #ref [:secrets :nadex-bind-password]}
                                               :default {}}

 :com.eldrix.pc4/fake-login-provider {:username "ma090906'"
                                      :password "password"}

 :com.eldrix.pc4/login               #profile {:cvx {:providers          {:com.eldrix.concierge/nadex #ig/ref :com.eldrix.concierge/nadex}
                                                     :jwt-secret-key     #ref [:secrets :jwt-secret-key]
                                                     :jwt-expiry-seconds 300}
                                               :dev {:providers          {:com.eldrix.pc4/fake-login-provider #ig/ref :com.eldrix.pc4/fake-login-provider}
                                                     :jwt-secret-key     "secret"
                                                     :jwt-expiry-seconds 300}}

 :wales.nhs.cavuhb/pms               #profile {:cvx     {:username    #ref [:secrets :cav-pms-username]
                                                         :password    #ref [:secrets :cav-pms-password]
                                                         :database    "vpmslive.world"
                                                         :user-string "patientcare-concierge"}
                                               :default {}}


 :wales.nhs/empi                     #profile {:cvx     {:url           "https://mpilivequeries.cymru.nhs.uk/PatientDemographicsQueryWS.asmx"
                                                         :processing-id "P"}
                                               :default {}}

 :pathom/env                         {:com.eldrix.clods.graph/svc     #ig/ref :com.eldrix/clods
                                      :com.eldrix.dmd.graph/store     #ig/ref :com.eldrix/dmd
                                      :com.eldrix.deprivare.graph/svc #ig/ref :com.eldrix/deprivare
                                      :com.eldrix.hermes.graph/svc    #ig/ref :com.eldrix/hermes
                                      :com.eldrix.comprehend.core/svc #ig/ref :com.eldrix/comprehend
                                      :com.eldrix.pc4/login           #ig/ref :com.eldrix.pc4/login
                                      :com.eldrix.rsdb/conn           #ig/ref :com.eldrix.rsdb/conn
                                      :com.eldrix.rsdb/config         #ig/ref :com.eldrix.rsdb/config}

 :pathom/boundary-interface          {:config #profile {:default {}
                                                        :dev     {:connect-viz true}}
                                      :env    #ig/ref :pathom/env}

 :http/server                        {:port            #long #or [#env PORT 8080]
                                      :allowed-origins "*"
                                      :host            "0.0.0.0"
                                      :env             {:pathom-boundary-interface #ig/ref :pathom/boundary-interface
                                                        :com.eldrix.rsdb/conn      #ig/ref :com.eldrix.rsdb/conn
                                                        :com.eldrix.pc4/login      #ig/ref :com.eldrix.pc4/login}}

 :http/handler                       {:login-config              #ig/ref :com.eldrix.pc4/login
                                      :pathom-boundary-interface #ig/ref :pathom/boundary-interface
                                      :com.eldrix.rsdb/conn      #ig/ref :com.eldrix.rsdb/conn
                                      :com.eldrix.pc4/login      #ig/ref :com.eldrix.pc4/login
                                      :ring-defaults             {:params    {:keywordize true
                                                                              :multipart  true
                                                                              :nested     true
                                                                              :urlencoded true}
                                                                  :cookies   true
                                                                  :responses {:absolute-redirects     true
                                                                              :content-types          true
                                                                              :default-charset        "utf-8"
                                                                              :not-modified-responses true}
                                                                  :session   true
                                                                  :static    {:resources "public"}
                                                                  :security  {:anti-forgery   false
                                                                              :hsts           true
                                                                              :ssl-redirect   false
                                                                              :frame-options  :sameorigin
                                                                              :xss-protection {:enable? true
                                                                                               :mode    :block}}}}

 :http/server2                       {:port    #long #or [#env PORT 8080]
                                      :host    "0.0.0.0"
                                      :handler #ig/ref :http/handler}}
