;;
;; This is an integrant configuration file
;;
;; There are three main profiles currently:
;; - :dev      : this profile is used during development
;; - :dev/dell : profile on Dell arch linux laptop
;; - :dev/nuc  : profile on nuc arch linux desktop
;; - :cvx      : this profile is active when deployed in a live NHS clinical environment (on server cvx-neuro02)
;; - :pc4      : this profile is active when deployed on AWS infrastructure
;;
;; There is an additional development profile:
;; - ::pc4-dev : this profile is for use in development but connects to the remote live AWS infrastructure

{:secrets
 #include #join [#env HOME "/.secrets.edn"]

 :pc4-aws-db-conn
 {:dbtype          "postgresql"
  :host            #ref [:secrets :pc4 :db :host]
  :username        #ref [:secrets :pc4 :db :username]
  :password        #ref [:secrets :pc4 :db :password]
  :dbname          "rsdb"
  :maximumPoolSize 10}

 :com.eldrix.rsdb/conn
 #profile {:default {:dbtype          "postgresql"
                     :dbname          "rsdb"
                     :maximumPoolSize 10}
           :pc4     #ref [:pc4-aws-db-conn]
           :pc4-dev #ref [:pc4-aws-db-conn]}

 :com.eldrix.rsdb/config
 {:legacy-global-pseudonym-salt #ref [:secrets :pc4 :legacy-global-pseudonym-salt]}

 ;; database migrations configuration
 :com.eldrix.rsdb/migration-config
 {:store         :database
  :migration-dir "migrations/"
  :db            {:datasource #ig/ref :com.eldrix.rsdb/conn}}

 ;; service to check for any pending migrations
 :com.eldrix.rsdb/check-migrations #ig/ref :com.eldrix.rsdb/migration-config

 ;; service to run pending migrations
 :com.eldrix.rsdb/run-migrations   #ig/ref :com.eldrix.rsdb/migration-config

 ;; service providing access to the NHS Postcode database
 :com.eldrix/nhspd
 {:path #profile {:default  "/Users/mark/Dev/nhspd/nhspd-2022-11-10.db"
                  :dev/dell "/home/mark/Dev/nhspd/nhspd-2022-11-10.db"
                  :pc4      "/var/pc4/nhspd-2021-08-16.db"
                  :cvx      "/opt/Local/var/db/pc4/nhspd-2021-08-16"}}

 ;; service providing access to the UK organisational data service (ODS)
 :com.eldrix/clods
 {:path  #profile {:default  "/Users/mark/Dev/clods/ods-2023-03-01.db"
                   :dev/dell "/home/mark/Dev/clods/ods-2023-05-22.db"
                   :pc4      "/var/pc4/ods-2021-06-25.db"
                   :cvx      "/opt/Local/var/db/pc4/ods-2021-08-24"}
  :nhspd #ig/ref :com.eldrix/nhspd}

 ;; service providing access to the ODS weekly dataset
 :com.eldrix/ods-weekly
 {:path #profile {:default  "/Users/mark/Dev/ods-weekly/ods-weekly-2023-04-20.db"
                  :dev/dell "/home/mark/Dev/ods-weekly/ods-weekly-2023-06-01.db"
                  :pc4      "/var/pc4/ods-weekly-2022-06-09.db"
                  :cvx      "/opt/Local/var/db/pc4/ods-weekly-2022-06-09.db"}}

 ;; service providing access to UK deprivation indices
 :com.eldrix/deprivare
 {:path #profile {:default  "/Users/mark/Dev/deprivare/depriv.db"
                  :dev/dell "/home/mark/Dev/deprivare/depriv.db"
                  :pc4      "/var/pc4/depriv.db"
                  :cvx      "/opt/Local/var/db/pc4/depriv.db"}}

 ;; service providing access to the UK dictionary of medicines and devices (dm+d)
 :com.eldrix/dmd
 {:path #profile {:default  "/Users/mark/Dev/dmd/dmd-2023-04-24.db"
                  :dev/dell "/home/mark/Dev/dmd/dmd-2023-05-29.db"
                  :pc4      "/var/pc4/dmd-2021-09-27.db"
                  :cvx      "/opt/Local/var/db/pc4/dmd-2021-09-27.db"}}

 ;; service providing access to SNOMED CT
 :com.eldrix/hermes
 {:path #profile {:default  "/Users/mark/Dev/hermes/snomed.db"
                  :dev/dell "/home/mark/Dev/hermes/snomed-2023-05-10.db"
                  :pc4      "/var/pc4/snomed-2022-05-17.db"
                  :cvx      "/opt/Local/var/db/pc4/snomed-2022-05-10.db"}}

 ;; service providing access to the NHS Wales' NADEX (Active Directory) service
 :wales.nhs/nadex
 #profile {:cvx     {:hosts                   ["7A4BVSRVDOM0001.cymru.nhs.uk" ;; we use a failover list of hosts
                                               "7A4BVSRVDOM0002.cymru.nhs.uk"
                                               "7A4BVSRVDOM0003.cymru.nhs.uk"]
                     :port                    636
                     :pool-size               5
                     :trust-all-certificates? true
                     :follow-referrals?       true
                     :default-bind-username   #ref [:secrets :nadex :bind-username]
                     :default-bind-password   #ref [:secrets :nadex :bind-password]}
           :default {}}

 ;; service providing access to the Cardiff and Vale PAS (Patient Management System - PMS)
 :wales.nhs.cavuhb/pms
 #profile {:cvx     {:username    #ref [:secrets :cav :pms :username]
                     :password    #ref [:secrets :cav :pms :password]
                     :database    "vpmslive.world"
                     :user-string "patientcare-concierge"}
           :default nil}

 ;; service providing access to the NHS Wales enterprise master patient index (eMPI)
 :wales.nhs/empi
 #profile {:cvx     {:url           "https://mpilivequeries.cymru.nhs.uk/PatientDemographicsQueryWS.asmx"
                     :processing-id "P"}
           :default nil}


 ;;
 ;; pc4 services
 ;;
 :com.eldrix.pc4/filestorage
 #profile {:cvx     {:kind               :local
                     :dir                "/opt/Local/var/db/pc4/filestore"
                     :link-duration      "PT24H"            ;; links are valid for 24 hours
                     :retention-duration "PT24H"}           ;; files are retained for 24 hours
           :default {:kind               :s3
                     :region             #ref [:secrets :aws :s3 :patientcare4 :region]
                     :bucket-name        #ref [:secrets :aws :s3 :patientcare4 :bucket-name]
                     :access-key-id      #ref [:secrets :aws :s3 :patientcare4 :access-key-id]
                     :secret-access-key  #ref [:secrets :aws :s3 :patientcare4 :secret-access-key]
                     :link-duration      "PT12H"            ;; links are available for 12 hours
                     :retention-duration "PT12H"}}          ;; files are retained only for 12 hours

 :com.eldrix.pc4/fake-login-provider
 {:username "ma090906'"
  :password "password"}

 :com.eldrix.pc4/login
 #profile {:cvx     {:providers          {:wales.nhs/nadex #ig/ref :wales.nhs/nadex}
                     :jwt-secret-key     #ref [:secrets :pc4 :jwt-secret-key]
                     :jwt-expiry-seconds 300}
           :pc4     {:providers          {}
                     :jwt-secret-key     #ref [:secrets :pc4 :jwt-secret-key]
                     :jwt-expiry-seconds 300}
           :default {:providers          {:com.eldrix.pc4/fake-login-provider #ig/ref :com.eldrix.pc4/fake-login-provider}
                     :jwt-secret-key     "secret"
                     :jwt-expiry-seconds 300}}

 :com.eldrix.deprivare/ops
 #ig/ref :com.eldrix/deprivare

 :pathom/ops                                                ;; operations are defined either statically (via #clj/var) or dynamically (via #ig/ref).
 [#clj/var com.eldrix.clods.graph/all-resolvers
  #clj/var com.eldrix.odsweekly.graph/all-resolvers
  #ig/ref :com.eldrix.deprivare/ops                         ;; operations for deprivare are determined dynamically at runtime
  #clj/var com.eldrix.dmd.graph/all-resolvers
  #clj/var com.eldrix.pc4.rsdb/all-resolvers
  #clj/var com.eldrix.hermes.graph/all-resolvers
  #clj/var com.eldrix.pc4.users/all-resolvers
  #clj/var com.eldrix.pc4.patients/all-resolvers
  #clj/var com.eldrix.pc4.modules.msbase/all-resolvers]

 :pathom/env
 {:pathom/ops                     #ig/ref :pathom/ops
  :com.eldrix.clods.graph/svc     #ig/ref :com.eldrix/clods
  :com.eldrix.odsweekly.graph/svc #ig/ref :com.eldrix/ods-weekly
  :com.eldrix.dmd.graph/store     #ig/ref :com.eldrix/dmd
  :com.eldrix.deprivare.graph/svc #ig/ref :com.eldrix/deprivare
  :com.eldrix.hermes.graph/svc    #ig/ref :com.eldrix/hermes
  ;;;; :com.eldrix.comprehend.core/svc #ig/ref :com.eldrix/comprehend
  :com.eldrix.pc4/login           #ig/ref :com.eldrix.pc4/login
  :com.eldrix.rsdb/conn           #ig/ref :com.eldrix.rsdb/conn
  :com.eldrix.rsdb/config         #ig/ref :com.eldrix.rsdb/config
  :wales.nhs.cavuhb/pms           #ig/ref :wales.nhs.cavuhb/pms
  :wales.nhs/empi                 #ig/ref :wales.nhs/empi}

 :pathom/boundary-interface
 {:config #profile {:default {}
                    :dev     {:connect-viz true}}
  :env    #ig/ref :pathom/env}

 :com.eldrix.pc4.pedestal/server
 {:port            #long #or [#env PORT 8080]
  :allowed-origins "*"
  :host            "0.0.0.0"
  :join?           #profile {:default false
                             :pc4     true}
  :session-key     #ref [:secrets :pc4 :session-key]
  :env             {:pathom/boundary-interface       #ig/ref :pathom/boundary-interface
                    :com.eldrix.rsdb/conn            #ig/ref :com.eldrix.rsdb/conn
                    :com.eldrix.pc4/login            #ig/ref :com.eldrix.pc4/login
                    :com.eldrix.pc4/filestorage      #ig/ref :com.eldrix.pc4/filestorage
                    :com.eldrix.pc4/check-migrations #ig/ref :com.eldrix.rsdb/check-migrations}}}

