.cpcache
.idea
.nrepl-port
*.iml
*.log
.lsp
.calva
/data/
/.clj-kondo/.cache
.DS_Store
pc4-server/.portal/intellij.edn
/resources/public/js/compiled
/node_modules
/.shadow-cljs/
*.zip
resources/public/css/output.css
/target/
*.jar
*.csv
/problems.json
/metadata.json
