.cpcache
.idea
.nrepl-port
*.iml
*.log
.lsp
.calva
/data/
/.clj-kondo/.cache
.DS_Store
pc4-server/.portal/intellij.edn
/resources/public/js/compiled
/resources/public/css/site.css
/node_modules
/.shadow-cljs/
*.zip
