.cpcache
.eastwood
.idea
.nrepl-port
*.iml
*.log
.lsp
.calva
.clj-kondo/
/data/
.DS_Store
pc4-server/.portal/intellij.edn
/components/frontend/resources/public/js/compiled
node_modules
.shadow-cljs/
*.zip
output.css
/projects/workbench-server/target/
*.jar
*.csv
/problems.json
/metadata.json
/projects/araf-server/target
bases/workbench-server/resources/public/css/workbench.css
