{:mvn/repos
 {"project-wonder" {:url "https://maven.wocommunity.org/content/repositories/releases/"}
  "other"          {:url "https://maven.wocommunity.org/content/groups/public/"}}

 :aliases
 {:dev
  {:extra-paths ["development/src"]
   :extra-deps  {;; components:

                 poly/araf                          {:local/root "components/araf"}
                 poly/chart                         {:local/root "components/chart"}
                 poly/codelists                     {:local/root "components/codelists"}
                 poly/config                        {:local/root "components/config"}
                 poly/dates                         {:local/root "components/dates"}
                 poly/deprivare                     {:local/root "components/deprivare"}
                 poly/dmd                           {:local/root "components/dmd"}
                 poly/emailer                       {:local/root "components/emailer"}
                 poly/fhir                          {:local/root "components/fhir"}
                 poly/filestorage                   {:local/root "components/filestorage"}
                 poly/frontend                      {:local/root "components/frontend"}
                 poly/fulcro-server                 {:local/root "components/fulcro-server"}
                 poly/graph                         {:local/root "components/graph"}
                 poly/http-server                   {:local/root "components/http-server"}
                 poly/lemtrada                      {:local/root "components/lemtrada"}
                 poly/log                           {:local/root "components/log"}
                 poly/msbase                        {:local/root "components/msbase"}
                 poly/nhs-number                    {:local/root "components/nhs-number"}
                 poly/nhspd                         {:local/root "components/nhspd"}
                 poly/ods                           {:local/root "components/ods"}
                 poly/ods-weekly                    {:local/root "components/ods-weekly"}
                 poly/queue                         {:local/root "components/queue"}
                 poly/report                        {:local/root "components/report"}
                 poly/rsdb                          {:local/root "components/rsdb"}
                 poly/snomedct                      {:local/root "components/snomedct"}
                 poly/wales-cav-pms                 {:local/root "components/wales-cav-pms"}
                 poly/wales-empi                    {:local/root "components/wales-empi"}
                 poly/wales-nadex                   {:local/root "components/wales-nadex"}

                 ;; bases:
                 poly/araf-patient-server           {:local/root "bases/araf-patient-server"}
                 poly/cli                           {:local/root "bases/cli"}
                 poly/server                        {:local/root "bases/server"}

                 ;; external dependencies:
                 integrant/repl                     {:mvn/version "0.4.0"}
                 io.github.clj-kondo/config-rum-rum {:mvn/version "1.0.0"}}
   :jvm-opts    ["-Dio.pedestal.dev-mode=true"]}

  :nrepl
  {:extra-deps {nrepl/nrepl       {:mvn/version "1.3.1"}
                cider/cider-nrepl {:mvn/version "0.57.0"}}
   :main-opts  ["--main" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "--interactive"]}

  :shadow
  {:extra-paths ["components/frontend/src"]
   :extra-deps  {com.fulcrologic/fulcro                   {:mvn/version "3.8.6"}
                 com.fulcrologic/guardrails               {:mvn/version "1.2.9"}
                 expound/expound                          {:mvn/version "0.9.0"}
                 lambdaisland/uri                         {:mvn/version "1.19.155"}
                 org.clojure/clojurescript                {:mvn/version "1.12.42"}
                 bidi/bidi                                {:mvn/version "2.1.6"}
                 binaryage/devtools                       {:mvn/version "1.0.7"}
                 ch.qos.logback/logback-classic           {:mvn/version "1.5.18"}
                 clj-commons/pushy                        {:mvn/version "0.3.10"}
                 com.wsscode/pathom-viz-connector         {:mvn/version "2022.02.14"}
                 com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}
                 fulcrologic/fulcro-spec                  {:mvn/version "3.1.12"}
                 integrant/repl                           {:mvn/version "0.4.0"}
                 org.clojure/test.check                   {:mvn/version "1.1.1"}
                 thheller/shadow-cljs                     {:mvn/version "3.1.8"}}}

  :portal
  {:extra-deps {djblue/portal {:mvn/version "0.60.2"}}}

  :test
  {:extra-paths ["bases/araf-patient-server/test"
                 "bases/cli/test"
                 "bases/server/test"
                 "components/araf/test"
                 "components/chart/test"
                 "components/codelists/test"
                 "components/config/test"
                 "components/dates/test"
                 "components/deprivare/test"
                 "components/dmd/test"
                 "components/emailer/test"
                 "components/fhir/test"
                 "components/filestorage/test"
                 "components/fulcro-server/test"
                 "components/graph/test"
                 "components/http-server/test"
                 "components/lemtrada/test"
                 "components/log/test"
                 "components/msbase/test"
                 "components/nhs-number/test"
                 "components/nhspd/test"
                 "components/ods/test"
                 "components/ods-weekly/test"
                 "components/queue/test"
                 "components/report/test"
                 "components/rsdb/test"
                 "components/snomedct/test"
                 "components/wales-cav-pms/test"
                 "components/wales-empi/test"
                 "components/wales-nadex/test"
                 "development/test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
   :main-opts  ["-m" "antq.core"]}

  :upgrade
  {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
   :main-opts  ["-m" "antq.core" "--upgrade"]}

  :check
  {:extra-deps {athos/clj-check
                {:git/url "https://github.com/athos/clj-check.git"
                 :sha     "d997df866b2a04b7ce7b17533093ee0a2e2cb729"}}
   :main-opts  ["-m" "clj-check.check" "src"]}

  :lint/eastwood
  {:main-opts  ["-m" "eastwood.lint"]
   :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}

  :lint/kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "."]}

  :poly
  {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
   :extra-deps {polylith/clj-poly {:mvn/version "0.3.21-SNAPSHOT"}
                io.github.seancorfield/polylith-external-test-runner
                {:git/tag   "v0.6.1" :git/sha "d0f51c2"
                 :deps/root "projects/runner"}}
   :jvm-opts ["-Djava.awt.headless=true"]}}}
