{:mvn/repos
 {"project-wonder" {:url "https://maven.wocommunity.org/content/repositories/releases/"}
  "other"          {:url "https://maven.wocommunity.org/content/groups/public/"}}

 :aliases
 {:dev
  {:extra-paths ["development/src"]
   :extra-deps  {;; components:

                 poly/araf                          {:local/root "components/araf"}
                 poly/arafc                         {:local/root "components/arafc"}
                 poly/chart                         {:local/root "components/chart"}
                 poly/codelists                     {:local/root "components/codelists"}
                 poly/config                        {:local/root "components/config"}
                 poly/dates                         {:local/root "components/dates"}
                 poly/deprivare                     {:local/root "components/deprivare"}
                 poly/dmd                           {:local/root "components/dmd"}
                 poly/emailer                       {:local/root "components/emailer"}
                 poly/fhir                          {:local/root "components/fhir"}
                 poly/filestorage                   {:local/root "components/filestorage"}
                 poly/graph                         {:local/root "components/graph"}
                 poly/lemtrada                      {:local/root "components/lemtrada"}
                 poly/log                           {:local/root "components/log"}
                 poly/msbase                        {:local/root "components/msbase"}
                 poly/nhs-number                    {:local/root "components/nhs-number"}
                 poly/notify                        {:local/root "components/notify"}
                 poly/nhspd                         {:local/root "components/nhspd"}
                 poly/ods                           {:local/root "components/ods"}
                 poly/ods-ui                        {:local/root "components/ods-ui"}
                 poly/ods-weekly                    {:local/root "components/ods-weekly"}
                 poly/pathom-web                    {:local/root "components/pathom-web"}
                 poly/queue                         {:local/root "components/queue"}
                 poly/report                        {:local/root "components/report"}
                 poly/rsdb                          {:local/root "components/rsdb"}
                 poly/rsdb-db                       {:local/root "components/rsdb-db"}
                 poly/snomed                        {:local/root "components/snomed"}
                 poly/snomed-ui                     {:local/root "components/snomed-ui"}
                 poly/ui-core                       {:local/root "components/ui-core"}
                 poly/wales-cav-pms                 {:local/root "components/wales-cav-pms"}
                 poly/wales-empi                    {:local/root "components/wales-empi"}
                 poly/wales-nadex                   {:local/root "components/wales-nadex"}
                 poly/web                           {:local/root "components/web"}
                 poly/workbench                     {:local/root "components/workbench"}

                 ;; bases:
                 poly/araf-manager                  {:local/root "bases/araf-manager"}
                 poly/araf-server                   {:local/root "bases/araf-server"}
                 poly/workbench-server              {:local/root "bases/workbench-server"}

                 ;; external dependencies:
                 integrant/repl                     {:mvn/version "0.5.0"}
                 io.github.clj-kondo/config-rum-rum {:mvn/version "1.0.0"}}
   :jvm-opts    ["-Dio.pedestal.dev-mode=true"]}

  :nrepl
  {:extra-deps {nrepl/nrepl       {:mvn/version "1.4.0"}
                cider/cider-nrepl {:mvn/version "0.57.0"}}
   :main-opts  ["--main" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "--interactive"]}

  :portal
  {:extra-deps {djblue/portal {:mvn/version "0.61.0"}}}

  :test
  {:extra-paths ["bases/araf-server/test"
                 "bases/workbench-server/test"
                 "components/arafc/test"
                 "components/chart/test"
                 "components/codelists/test"
                 "components/config/test"
                 "components/dates/test"
                 "components/deprivare/test"
                 "components/dmd/test"
                 "components/emailer/test"
                 "components/fhir/test"
                 "components/filestorage/test"
                 "components/graph/test"
                 "components/lemtrada/test"
                 "components/log/test"
                 "components/msbase/test"
                 "components/nhs-number/test"
                 "components/nhspd/test"
                 "components/notify/test"
                 "components/ods/test"
                 "components/ods-weekly/test"
                 "components/queue/test"
                 "components/report/test"
                 "components/rsdb/test"
                 "components/snomed/test"
                 "components/wales-cav-pms/test"
                 "components/wales-empi/test"
                 "components/wales-nadex/test"
                 "components/workbench/test"
                 "development/test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
   :main-opts  ["-m" "antq.core"]}

  :upgrade
  {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
   :main-opts  ["-m" "antq.core" "--upgrade"]}

  :check
  {:extra-deps {athos/clj-check
                {:git/url "https://github.com/athos/clj-check.git"
                 :sha     "d997df866b2a04b7ce7b17533093ee0a2e2cb729"}}
   :main-opts  ["-m" "clj-check.check" "src"]}

  :lint/eastwood
  {:main-opts  ["-m" "eastwood.lint"]
   :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}

  :lint/kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "."]}

  :poly
  {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
   :extra-deps {polylith/clj-poly {:mvn/version "0.2.22"}
                io.github.seancorfield/polylith-external-test-runner
                {:git/tag   "v0.6.1" :git/sha "d0f51c2"
                 :deps/root "projects/runner"}}
   :jvm-opts   ["-Djava.awt.headless=true"]}}}
