{:top-namespace        "pc4"
 :interface-ns         "interface"
 :default-profile-name "default"
 :compact-views        #{}
 :vcs                  {:name     "git"
                        :auto-add false}
 :tag-patterns         {:stable  "stable-*"
                        :release "v[0-9]*"}
 ;:test {:create-test-runner [org.corfield.external-test-runner.interface/create]}

 :projects             {"development"      {:alias "dev"}
                        "workbench-server" {:alias "wb"}
                        "araf-server"      {:alias "arf"}
                        "pc4-frontend"     {:alias "fro"}}}
