{:paths   ["src" "resources"]
 :deps    {com.cnuernber/charred             {:mvn/version "1.037"}
           com.fulcrologic/fulcro            {:mvn/version "3.8.6"}

           com.github.seancorfield/next.jdbc {:mvn/version "1.3.1070"}
           com.layerware/hugsql              {:mvn/version "0.5.3"}
           com.zaxxer/HikariCP               {:mvn/version "7.0.2"}
           dev.weavejester/medley            {:mvn/version "1.9.0"}

           org.jsoup/jsoup                   {:mvn/version "1.21.2"}

           org.postgresql/postgresql         {:mvn/version "42.7.8"}
           migratus/migratus                 {:mvn/version "1.6.4"}
           selmer/selmer                     {:mvn/version "1.12.67"}
           wonder.core/ERExtensions          {:mvn/version "7.4"
                                              :exclusions  [log4j/log4j
                                                            commons-logging/commons-logging]}}
 :mvn/repos
 {"project-wonder" {:url "https://maven.wocommunity.org/content/repositories/releases/"}
  "other"          {:url "https://maven.wocommunity.org/content/groups/public/"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
