;;
;; PatientCare v4 configuration file
;;
;; There are three main profiles currently:
;; - :dev      : this profile is used during development
;; - :cvx      : this profile is active when deployed in a live NHS clinical environment (on server cvx-neuro02)
;; - :pc4      : this profile is active when deployed on AWS infrastructure
;;
;; There is an additional development profile:
;; - :pc4-dev  : this profile is for use in development but connects to the remote live AWS infrastructure

{:secrets
 #include #join [#env HOME "/.secrets.edn"]

 ;; all data files are referenced relative to this root directory
 :pc4/root
 #profile {:default "/Users/mark/Dev/pc4/data/"
           :cvx     "/opt/Local/var/db/pc4/"
           :pc4     "/var/pc4/"}

 :pc4.codelists.interface/svc
 {:hermes #ig/ref :pc4.snomed.interface/svc
  :dmd    #ig/ref :pc4.dmd.interface/svc}


 :pc4.demographic.interface/wales-cav-pms-service
 #ig/ref :pc4.wales-cav-pms.interface/svc

 :pc4.demographic.interface/wales-empi-service
 #ig/ref :pc4.wales-empi.interface/svc

 [:pc4.demographic.interface/fake-service :demographic/cavpms]
 {:title "Fake CAVPMS service"
  :conn  #ig/ref :pc4.rsdb.interface/conn}

 [:pc4.demographic.interface/fake-service :demographic/empi]
 {:title "Fake NHS Wales eMPI service"
  :conn  #ig/ref :pc4.rsdb.interface/conn}

 :pc4.demographic.interface/svc
 {:providers #profile {:dev [{:id      :wales-cav-pms
                              :title   "Synthetic CAVUHB PMS"
                              :svc     #ig/ref [:pc4.demographic.interface/fake-service :demographic/cavpms]
                              :systems ["https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
                                        "https://fhir.nhs.uk/Id/nhs-number"]}
                             {:id      :wales-empi
                              :title   "Synthetic NHS Wales eMPI"
                              :svc     #ig/ref [:pc4.demographic.interface/fake-service :demographic/empi]
                              :systems ["https://fhir.nhs.uk/Id/nhs-number"
                                        "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"]}]
                       :cvx [{:id      :wales-cav-pms
                              :remote  true
                              :title   "Cardiff and Vale Patient Management System (PMS)"
                              :svc     #ig/ref :pc4.demographic.interface/wales-cav-pms-service
                              :systems ["https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
                                        "https://fhir.nhs.uk/Id/nhs-number"]}
                             {:id      :wales-empi
                              :remote  true
                              :title   "NHS Wales' Enterprise Master Patient Index (eMPI)"
                              :svc     #ig/ref :pc4.demographic.interface/wales-empi-service
                              :systems ["https://fhir.nhs.uk/Id/nhs-number"
                                        "https://fhir.abuhb.nhs.wales/Id/pas-identifier"
                                        "https://fhir.cavuhb.nhs.wales/Id/pas-identifier"
                                        "https://fhir.ctmuhb.nhs.wales/Id/pas-identifier"
                                        "https://fhir.hduhb.nhs.wales/Id/pas-identifier"
                                        "https://fhir.sbuhb.nhs.wales/Id/pas-identifier"]}]}}

 :pc4.deprivare.interface/svc
 {:root #ref [:pc4/root]
  :f    "depriv-v2.0-2024.02.15.db"}

 :pc4.deprivare.interface/ops
 #ig/ref :pc4.deprivare.interface/svc

 :pc4.dmd.interface/svc
 {:root #ref [:pc4/root]
  :f    "dmd-2024-01-29.db"}

 :pc4.emailer.interface/svc
 #profile {:default {:host "email-smtp.eu-west-2.amazonaws.com"
                     :port 587
                     :tls  true
                     :user #ref [:secrets :aws :smtp :user]
                     :pass #ref [:secrets :aws :smtp :pass]}
           :cvx     {:host "cavmail.cymru.nhs.uk"}}

 :pc4.lemtrada.interface/env
 {:hermes    #ig/ref :pc4.snomed.interface/svc
  :cavpms    #ig/ref :pc4.wales-cav-pms.interface/svc
  :clods     #ig/ref :pc4.ods.interface/svc
  :codelists #ig/ref :pc4.codelists.interface/svc
  :dmd       #ig/ref :pc4.dmd.interface/svc
  :deprivare #ig/ref :pc4.deprivare.interface/svc
  :pathom    #ig/ref :pc4.graph.interface/boundary-interface
  :rsdb      #ig/ref :pc4.rsdb.interface/svc}

 :pc4.nhspd.interface/svc
 {:root #ref [:pc4/root]
  :f    "nhspd-2025-05-22.db"}

 :pc4.notify.interface/svc
 {:api-key #profile {:dev     #ref [:secrets :uk.gov :notify :test :api-key]
                     :default #ref [:secrets :uk.gov :notify :live :api-key]}}

 :pc4.ods.interface/svc
 {:root  #ref [:pc4/root]
  :f     "ods-2025-06-23.db"
  :nhspd #ig/ref :pc4.nhspd.interface/svc
  :pool  true}

 :pc4.ods-ui.interface/svc
 {:ods #ig/ref :pc4.ods.interface/svc}

 :pc4.ods-weekly.interface/svc
 {:root #ref [:pc4/root]
  :f    "ods-weekly-2024-02-15.db"}

 :pc4.queue.interface/svc
 {:ds      #ig/ref :pc4.rsdb.interface/conn
  :env     {:rsdb          #ig/ref :pc4.rsdb.interface/svc
            :email         #ig/ref :pc4.emailer.interface/svc
            :notify        #ig/ref :pc4.notify.interface/svc
            :wales-nadex   #ig/ref :pc4.wales-nadex.interface/svc
            :wales-empi    #ig/ref :pc4.wales-empi.interface/svc
            :wales-cav-pms #ig/ref :pc4.wales-cav-pms.interface/svc
            :config        {:email {:default-payload {:from "mark@eldrix.co.uk"}}}}
  :workers [{:queue               :default
             :nthreads            1
             :polling-interval-ms 200}
            {:queue               :demographic
             :nthreads            1
             :polling-interval-ms 1000}]
  }

 :pc4-aws-db-conn
 {:dbtype          "postgresql"
  :host            #ref [:secrets :pc4 :db :host]
  :username        #ref [:secrets :pc4 :db :username]
  :password        #ref [:secrets :pc4 :db :password]
  :dbname          "rsdb"
  :maximumPoolSize 10}

 :pc4.rsdb.interface/conn
 #profile {:default {:dbtype          "postgresql"
                     :dbname          "rsdb"
                     :maximumPoolSize 10}
           :pc4     #ref [:pc4-aws-db-conn]
           :pc4-dev #ref [:pc4-aws-db-conn]}

 :pc4.rsdb.interface/svc
 {:conn                         #ig/ref :pc4.rsdb.interface/conn
  :email                        #ig/ref :pc4.emailer.interface/svc
  :wales-nadex                  #ig/ref :pc4.wales-nadex.interface/svc
  :hermes                       #ig/ref :pc4.snomed.interface/svc
  :ods                          #ig/ref :pc4.ods.interface/svc
  :demographic                  #ig/ref :pc4.demographic.interface/svc
  :legacy-global-pseudonym-salt #ref [:secrets :pc4 :legacy-global-pseudonym-salt]}

 :pc4.snomed.interface/svc
 {:root           #ref [:pc4/root]
  :f              "snomed-2025-09-24.db"
  :default-locale "en-GB"}

 :pc4.snomed-ui.interface/svc
 {:hermes #ig/ref :pc4.snomed.interface/svc}

 :pc4.wales-cav-pms.interface/svc
 #profile {:cvx     {:username    #ref [:secrets :wales :cav :pms :username]
                     :password    #ref [:secrets :wales :cav :pms :password]
                     :database    "vpmslive.world"
                     :user-string "patientcare-v4"}
           :default nil}

 :pc4.wales-empi.interface/svc
 #profile {:cvx     {:url           "https://mpilivequeries.cymru.nhs.uk/PatientDemographicsQueryWS.asmx"
                     :processing-id "P"
                     :timeout       5000}
           :default nil}

 :pc4.wales-nadex.interface/svc
 {:hermes #ig/ref :pc4.snomed.interface/svc
  :conn   #profile {:cvx     {:hosts                   ["7A4BVSRVDOM0001.cymru.nhs.uk" ;; we use a failover list of hosts
                                                        "7A4BVSRVDOM0002.cymru.nhs.uk"
                                                        "7A4BVSRVDOM0003.cymru.nhs.uk"]
                              :port                    636
                              :pool-size               5
                              :trust-all-certificates? true
                              :follow-referrals?       true
                              :default-bind-username   #ref [:secrets :nadex-bind-username]
                              :default-bind-password   #ref [:secrets :nadex-bind-password]
                              :hermes                  #ig/ref :pc4.snomed.interface/svc}
                    :default {}}}

 ;; operations / resolvers for pathom graph
 ;; defined either statically (via #clj/var) or dynamically (via #ig/ref).
 :pc4.graph.interface/ops
 [#clj/var com.eldrix.clods.graph/all-resolvers
  #clj/var com.eldrix.odsweekly.graph/all-resolvers
  #ig/ref :pc4.deprivare.interface/ops                      ;; operations for deprivare are determined dynamically at runtime
  #clj/var com.eldrix.dmd.graph/all-resolvers
  #clj/var pc4.graph.rsdb/all-resolvers
  #clj/var com.eldrix.hermes.graph/all-resolvers
  #clj/var pc4.graph.users/all-resolvers
  #clj/var pc4.graph.patients/all-resolvers
  #clj/var pc4.msbase.interface/all-resolvers
  #clj/var pc4.workbench.interface/all-resolvers]

 ;; pathom graph environment available to all resolvers
 :pc4.graph.interface/env
 {:ops                            #ig/ref :pc4.graph.interface/ops
  :com.eldrix.clods.graph/svc     #ig/ref :pc4.ods.interface/svc
  :com.eldrix.odsweekly.graph/svc #ig/ref :pc4.ods-weekly.interface/svc
  :com.eldrix.dmd.graph/store     #ig/ref :pc4.dmd.interface/svc
  :com.eldrix.deprivare.graph/svc #ig/ref :pc4.deprivare.interface/svc
  :com.eldrix/hermes              #ig/ref :pc4.snomed.interface/svc
  :com.eldrix/nhspd               #ig/ref :pc4.nhspd.interface/svc
  :com.eldrix/rsdb                #ig/ref :pc4.rsdb.interface/svc
  :wales.nhs.cavuhb/pms           #ig/ref :pc4.wales-cav-pms.interface/svc
  :wales.nhs/empi                 #ig/ref :pc4.wales-empi.interface/svc}

 ;; pathom boundary interface - a single fn providing graph resolution
 :pc4.graph.interface/boundary-interface
 {:connect-viz #profile {:default false, :dev true}
  :env         #ig/ref :pc4.graph.interface/env}

 ;; Workbench server (clinician facing htmx application)
 :pc4.workbench.interface/server
 {:port        #long #or [#env PORT 8080]
  :host        "0.0.0.0"
  :cache?      #profile {:default true :dev false}
  :session-key #ref [:secrets :pc4 :session-key]
  :env         {:rsdb        #ig/ref :pc4.rsdb.interface/svc
                :demographic #ig/ref :pc4.demographic.interface/svc
                :hermes      #ig/ref :pc4.snomed.interface/svc
                :ods         #ig/ref :pc4.ods.interface/svc
                :odsui       #ig/ref :pc4.ods-ui.interface/svc
                :pathom      #ig/ref :pc4.graph.interface/boundary-interface
                :queue       #ig/ref :pc4.queue.interface/svc
                :snomedui    #ig/ref :pc4.snomed-ui.interface/svc}}

 ;; ARAF (patient-facing) data service
 :pc4.araf.interface/svc
 {:ds     #profile {:dev {:dbtype          "postgresql"
                          :dbname          "araf_patient"
                          :maximumPoolSize 5
                          :minimumIdle     5}
                    :aws {:dbtype          "postgresql"
                          :host            #ref [:secrets :pc4 :araf :db :host]
                          :username        #ref [:secrets :pc4 :araf :db :username]
                          :password        #ref [:secrets :pc4 :araf :db :password]
                          :dbname          "araf_patient"
                          :maximumPoolSize 5}}
  :secret #ref [:secrets :pc4 :araf :secret]}               ;; note shared secret with ARAF clinician service

 ;; ARAF (clinician-facing) service - acts as a client to araf server
 :pc4.arafc.interface/svc
 {:url    #profile {:dev "http://127.0.0.1:8081"
                    :cvx "https://araf.patientcare.app"}
  :secret #ref [:secrets :pc4 :araf :secret]}               ;; note shared secret with ARAF patient service

 ;; ARAF (patient-facing) server
 :pc4.araf-server.interface/server
 {:port        #long #or [#env PORT 8081]
  :host        "0.0.0.0"
  :cache?      #profile {:default true :dev false}
  :session-key #ref [:secrets :pc4 :session-key]
  :svc         #ig/ref :pc4.araf.interface/svc}

 ;; ARAF manager - clinician / administration facing server
 :pc4.araf-manager.interface/server
 {:port        #long #or [#env PORT 8082]
  :host        "0.0.0.0"
  :session-key #ref [:secrets :pc4 :session-key]
  :env         {:arafc #ig/ref :pc4.arafc.interface/svc
                :rsdb  #ig/ref :pc4.rsdb.interface/svc}}}
