<select id="sort-by" name="sort-by"
        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        hx-post="{{search-url}}"
        hx-trigger="change"
        hx-target="#org-results"
        hx-include="[name='data'],[name='s'], [name='postcode'], [name='range'], [name='limit']">
    <option value="name" {% ifequal sort-by "name" %}selected{% endifequal %}>Name</option>
    <option value="distance" {% ifequal sort-by "distance" %}selected{% endifequal %}>Distance</option>
</select>
