;;
;; PatientCare v4 configuration file
;;
;; There are three main profiles currently:
;; - :dev      : this profile is used during development
;; - :dev/dell : profile on Dell arch linux laptop
;; - :dev/nuc  : profile on nuc arch linux desktop
;; - :cvx      : this profile is active when deployed in a live NHS clinical environment (on server cvx-neuro02)
;; - :pc4      : this profile is active when deployed on AWS infrastructure
;;
;; There is an additional development profile:
;; - ::pc4-dev : this profile is for use in development but connects to the remote live AWS infrastructure

{:secrets
 #include #join [#env HOME "/.secrets.edn"]

 ;; configuration for AWS hosted rsdb database used for AWS deployment
 :pc4-aws-db-conn
 {:dbtype          "postgresql"
  :host            #ref [:secrets :pc4 :db :host]
  :username        #ref [:secrets :pc4 :db :username]
  :password        #ref [:secrets :pc4 :db :password]
  :dbname          "rsdb"
  :maximumPoolSize 10}

 ;; rsdb conn - configuration for rsdb database
 :com.eldrix.rsdb/conn
 #profile {:default {:dbtype          "postgresql"
                     :dbname          "rsdb"
                     :maximumPoolSize 10}
           :pc4     #ref [:pc4-aws-db-conn]
           :pc4-dev #ref [:pc4-aws-db-conn]}

 ;; rsdb config - configuration for legacy rsdb services
 :com.eldrix.rsdb/config
 {:legacy-global-pseudonym-salt #ref [:secrets :pc4 :legacy-global-pseudonym-salt]}

 ;; database migrations configuration
 :com.eldrix.rsdb/migration-config
 {:store         :database
  :migration-dir "migrations/"
  :db            {:datasource #ig/ref :com.eldrix.rsdb/conn}}

 ;; service to check for any pending migrations
 :com.eldrix.rsdb/check-migrations #ig/ref :com.eldrix.rsdb/migration-config

 ;; service to run pending migrations
 :com.eldrix.rsdb/run-migrations   #ig/ref :com.eldrix.rsdb/migration-config

 ;; pc4 data files
 :com.eldrix.pc4/root
 #profile {:default "/Users/mark/Dev/pc4/data/"
           :cvx     "/opt/Local/var/db/pc4/"
           :pc4     "/var/pc4/"}

 ;; service providing access to the NHS Postcode database
 :com.eldrix/nhspd
 {:root #ref [:com.eldrix.pc4/root]
  :f    "nhspd-2022-11-10.db"}

 ;; service providing access to the UK organisational data service (ODS)
 :com.eldrix/clods
 {:root  #ref [:com.eldrix.pc4/root]
  :f     "ods-2022-01-24.db"
  :nhspd #ig/ref :com.eldrix/nhspd}

 ;; service providing access to the ODS weekly dataset
 #_:com.eldrix/ods-weekly
 #_{:root #ref [:com.eldrix.pc4/root]
    :f    "ods-weekly-2023-06-08.db"}

 ;; service providing access to UK deprivation indices
 :com.eldrix/deprivare
 {:root #ref [:com.eldrix.pc4/root]
  :f    "depriv-v2.0-2024.02.07.db"}

 ;; service providing access to the UK dictionary of medicines and devices (dm+d)
 :com.eldrix/dmd
 {:root #ref [:com.eldrix.pc4/root]
  :f    "dmd-2024-01-29.db"}

 ;; service providing access to SNOMED CT
 :com.eldrix/hermes
 {:root #ref [:com.eldrix.pc4/root]
  :f    "hermes-v1.4-2023.10.04.db"}

 ;; service providing access to the NHS Wales' NADEX (Active Directory) service
 :wales.nhs/nadex
 #profile {:cvx     {:hosts                   ["7A4BVSRVDOM0001.cymru.nhs.uk" ;; we use a failover list of hosts
                                               "7A4BVSRVDOM0002.cymru.nhs.uk"
                                               "7A4BVSRVDOM0003.cymru.nhs.uk"]
                     :port                    636
                     :pool-size               5
                     :trust-all-certificates? true
                     :follow-referrals?       true
                     :default-bind-username   #ref [:secrets :wales :nadex :bind-username]
                     :default-bind-password   #ref [:secrets :wales :nadex :bind-password]}
           :default {}}

 ;; service providing access to the Cardiff and Vale PAS (Patient Management System - PMS)
 :wales.nhs.cavuhb/pms
 #profile {:cvx     {:username    #ref [:secrets :wales :cav :pms :username]
                     :password    #ref [:secrets :wales :cav :pms :password]
                     :database    "vpmslive.world"
                     :user-string "patientcare-v4"}
           :default nil}

 ;; service providing access to the NHS Wales enterprise master patient index (eMPI)
 :wales.nhs/empi
 #profile {:cvx     {:url           "https://mpilivequeries.cymru.nhs.uk/PatientDemographicsQueryWS.asmx"
                     :processing-id "P"}
           :default nil}

 ;; Aneurin Bevan's patient administration system (PAS)
 :wales.nhs.abuhb/pas
 #profile {:cvx {:demographics {:url #ref [:secrets :wales :ab :demographics :url]}}}

 ;;
 ;; pc4 services
 ;;

 ;; demographics authority service
 :com.eldrix.pc4/demographic-service
 #profile {:cvx {:empi   #ig/ref :wales.nhs/empi
                 :cavuhb #ig/ref :wales.nhs.cavuhb/pas}}

 ;; object / file storage using either local filesystem or AWS S3
 :com.eldrix.pc4/filestorage
 #profile {:cvx     {:kind               :local
                     :dir                "/opt/Local/var/db/pc4/filestore"
                     :link-duration      "PT24H"            ;; links are valid for 24 hours
                     :retention-duration "PT24H"}           ;; files are retained for 24 hours
           :default {:kind               :s3
                     :region             #ref [:secrets :aws :s3 :patientcare4 :region]
                     :bucket-name        #ref [:secrets :aws :s3 :patientcare4 :bucket-name]
                     :access-key-id      #ref [:secrets :aws :s3 :patientcare4 :access-key-id]
                     :secret-access-key  #ref [:secrets :aws :s3 :patientcare4 :secret-access-key]
                     :link-duration      "PT12H"            ;; links are available for 12 hours
                     :retention-duration "PT12H"}}          ;; files are retained only for 12 hours

 ;; SMTP service; we don't use SMTP currently outside of cvx, preferring instead to use gov notify for email...
 ;; :com.eldrix.pc4.mail/smtp #profile {:cvx     {:host "cavmail.cymru.nhs.uk"} :default nil}

 ;; asynchronous queue job processing service
 #_:com.eldrix.pc4/jobs
 #_{:pool-size                1
    :delay-ms                 5000
    :termination-timeout-secs 5
    :com.eldrix.rsdb/conn     #ig/ref :com.eldrix.rsdb/conn
    :uk.gov.notify/api-key    #ref [:secrets :uk.gov :notify :api-key]
    :templates                {[:user/email :message/received] "5926fb5c-04c9-4d0f-8018-ce0e895e3641"
                               [:user/email :extract-started]  "94f360c3-8c6b-43fc-abf9-9b57dc857b91"
                               [:user/email :extract-finished] "dbeb7930-42d8-4eb5-af09-46d2b19433cb"
                               [:user/sms :message/received]   "765ef309-74d0-43d8-80ea-1dbd9e92a3e8"}}


 :com.eldrix.pc4/fake-login-provider
 {:username "ma090906'"
  :password "password"}

 ;; user login service
 :com.eldrix.pc4/login
 #profile {:cvx     {:providers          {:wales.nhs/nadex #ig/ref :wales.nhs/nadex}
                     :jwt-secret-key     #ref [:secrets :pc4 :jwt-secret-key]
                     :jwt-expiry-seconds 300}
           :pc4     {:providers          {}
                     :jwt-secret-key     #ref [:secrets :pc4 :jwt-secret-key]
                     :jwt-expiry-seconds 300}
           :default {:providers          {:com.eldrix.pc4/fake-login-provider #ig/ref :com.eldrix.pc4/fake-login-provider}
                     :jwt-secret-key     "secret"
                     :jwt-expiry-seconds 300}}

 :com.eldrix.deprivare/ops
 #ig/ref :com.eldrix/deprivare

 ;; operations / resolvers for pathom graph
 ;; defined either statically (via #clj/var) or dynamically (via #ig/ref).
 :pathom/ops
 [#clj/var com.eldrix.clods.graph/all-resolvers
  ;#clj/var com.eldrix.odsweekly.graph/all-resolvers
  #ig/ref :com.eldrix.deprivare/ops                         ;; operations for deprivare are determined dynamically at runtime
  #clj/var com.eldrix.dmd.graph/all-resolvers
  #clj/var com.eldrix.pc4.rsdb/all-resolvers
  #clj/var com.eldrix.hermes.graph/all-resolvers
  #clj/var com.eldrix.pc4.users/all-resolvers
  #clj/var com.eldrix.pc4.patients/all-resolvers
  #clj/var com.eldrix.pc4.modules.msbase/all-resolvers]

 ;; pathom graph environment available to all resolvers
 :pathom/env
 {:pathom/ops                     #ig/ref :pathom/ops
  :com.eldrix.clods.graph/svc     #ig/ref :com.eldrix/clods
  ;:com.eldrix.odsweekly.graph/svc #ig/ref :com.eldrix/ods-weekly
  :com.eldrix.dmd.graph/store     #ig/ref :com.eldrix/dmd
  :com.eldrix.deprivare.graph/svc #ig/ref :com.eldrix/deprivare
  :com.eldrix/hermes              #ig/ref :com.eldrix/hermes
  :com.eldrix/nhspd               #ig/ref :com.eldrix/nhspd
  :com.eldrix.pc4/login           #ig/ref :com.eldrix.pc4/login
  ;  :com.eldrix.pc4/jobs            #ig/ref :com.eldrix.pc4/jobs
  :com.eldrix.rsdb/conn           #ig/ref :com.eldrix.rsdb/conn
  :com.eldrix.rsdb/config         #ig/ref :com.eldrix.rsdb/config
  :wales.nhs.cavuhb/pms           #ig/ref :wales.nhs.cavuhb/pms
  :wales.nhs/empi                 #ig/ref :wales.nhs/empi}

 ;; pathom boundary interface - a single fn providing graph resolution
 :pathom/boundary-interface
 {:config #profile {:default {}
                    :dev     {:connect-viz true}}
  :env    #ig/ref :pathom/env}

 ;; front-end components are compiled and available in public/js/compiled. The output names
 ;; are described in a shadow cljs manifest file
 :com.eldrix.pc4/cljs-modules
 {:manifest-path "public/js/compiled/manifest.edn"}

 ;; REPL server
 :repl/server
 {:name          "repl-server"
  :port          5555
  :accept        clojure.core.server/repl
  :server-daemon false}

 ;; HTTP server
 :com.eldrix.pc4.pedestal/server
 {:port            #long #or [#env PORT 8080]
  :allowed-origins "*"
  :host            "0.0.0.0"
  :join?           #profile {:default false
                             :cvx     true
                             :pc4     true}
  :dev?            #profile {:default true :pc4 false :cvx false}
  :session-key     #ref [:secrets :pc4 :session-key]
  :env             {:pathom/boundary-interface   #ig/ref :pathom/boundary-interface
                    :com.eldrix.rsdb/conn        #ig/ref :com.eldrix.rsdb/conn
                    :com.eldrix.pc4/login        #ig/ref :com.eldrix.pc4/login
                    :com.eldrix.pc4/filestorage  #ig/ref :com.eldrix.pc4/filestorage
                    :com.eldrix.pc4/cljs-modules #ig/ref :com.eldrix.pc4/cljs-modules}}}
