<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {% for item in items %}
    <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
        <div class="flex w-full items-center justify-between space-x-6 p-6">
            <div class="flex-1 truncate">
                <div class="flex items-center space-x-3">
                    <h3 class="truncate text-sm font-medium text-gray-900">
                        {% if item.url %}
                        <a class="pointer text-blue-600 hover:underline " href="{{ item.url }}">{{ item.title }}</a>
                        {% else %}
                        {{ item.title }}
                        {% endif %}
                    </h3>
                </div>
                <p class="mt-1 truncate text-sm text-gray-500">{{ item.subtitle }}</p>
                {% if item.badges|not-empty %}
                <div class="mt-4">
                {% for badge in item.badges %}
                <span class="inline-flex shrink-0 items-center rounded-full bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                        {{ badge }}
                </span>
                {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if item.image-url %}
            <img class="size-10 shrink-0 rounded-full bg-gray-300" src="{{ item.image-url }}" alt="{{ item.title }}">
            {% endif %}
        </div>
        <div>
            {{ item.text|linebreaks|safe }}
            {{ item.content|safe }}
        </div>
    </li>
    {% endfor %}
</ul>