{% comment %}
# A simple SELECT button

# Properties:
# - label    : text of the label (optional)
# - options  : sequence of options with 'id' and 'text'
# - selected : id of the currently selected option

{% endcomment %}
<div>
    {% if label %}
    <label for="{{id}}" class="block text-sm/6 font-medium text-gray-900">
        {{label}}
    </label>
    {% endif %}
    <div class="mt-2 grid grid-cols-1">
        <select id="{{id}}" name="{{id}}"
                {% if hx-get %}
                hx-get="{{hx-get}}"
                {% endif %}
                {% if hx-target %}
                hx-target="{{hx-target}}"
                {% endif %}
                {% if hx-swap %}
                hx-swap="{{hx-swap}}"
                {% endif %}
                class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            {% for option in options %}
            {% ifequal option.id selected %}
            <option value={{option.id}} selected="selected">{{ option.text }}</option>
            {% else %}
            <option value={{option.id}}> {{ option.text }}</option>
            {% endifequal %}
            {% endfor %}
        </select>
        <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
    </div>
</div>
