{:paths ["src" "resources"]
 :deps {org.xhtmlrenderer/flying-saucer-pdf {:mvn/version "9.13.3"}
        rum/rum                             {:mvn/version "0.12.11"}
        selmer/selmer                       {:mvn/version "1.12.62"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
