{:paths ["src" "resources"]
 :deps {com.fulcrologic/fulcro               {:mvn/version "3.8.2"}
        com.wsscode/pathom3                  {:mvn/version "2025.01.16-alpha"}
        org.jsoup/jsoup                      {:mvn/version "1.18.3"}
        com.taoensso/timbre                  {:mvn/version "6.6.1"}}     ;; we override timbre as otherwise fulcro pulls in an older version
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
