{:deps {org.clojure/clojure {:mvn/version "1.12.1"}

        ;; components
        poly/araf           {:local/root "../../components/araf"}
        poly/chart          {:local/root "../../components/chart"}
        poly/codelists      {:local/root "../../components/codelists"}
        poly/config         {:local/root "../../components/config"}
        poly/dates          {:local/root "../../components/dates"}
        poly/deprivare      {:local/root "../../components/deprivare"}
        poly/dmd            {:local/root "../../components/dmd"}
        poly/emailer        {:local/root "../../components/emailer"}
        poly/frontend       {:local/root "../../components/frontend"}
        poly/fhir           {:local/root "../../components/fhir"}
        poly/fulcro-server  {:local/root "../../components/fulcro-server"}
        poly/graph          {:local/root "../../components/graph"}
        poly/http-server    {:local/root "../../components/http-server"}
        poly/lemtrada       {:local/root "../../components/lemtrada"}
        poly/log            {:local/root "../../components/log"}
        poly/msbase         {:local/root "../../components/msbase"}
        poly/nhs-number     {:local/root "../../components/nhs-number"}
        poly/nhspd          {:local/root "../../components/nhspd"}
        poly/ods            {:local/root "../../components/ods"}
        poly/ods-weekly     {:local/root "../../components/ods-weekly"}
        poly/queue          {:local/root "../../components/queue"}
        poly/report         {:local/root "../../components/report"}
        poly/rsdb           {:local/root "../../components/rsdb"}
        poly/snomedct       {:local/root "../../components/snomedct"}
        poly/wales-cav-pms  {:local/root "../../components/wales-cav-pms"}
        poly/wales-empi     {:local/root "../../components/wales-empi"}
        poly/wales-nadex    {:local/root "../../components/wales-nadex"}

        ;; base components
        poly/server         {:local/root "../../bases/server"}}}

:mvn/repos
{"project-wonder" {:url "https://maven.wocommunity.org/content/repositories/releases/"}
 "other"          {:url "https://maven.wocommunity.org/content/groups/public/"}}

:aliases
{:test
 {:extra-paths ["test"]
  :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}}

 :run
 {:main-opts ["-m" "pc4.server.core"]}

 :build
 {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.4" :git/sha "31388ff"}
               slipset/deps-deploy           {:mvn/version "RELEASE"}}
  :ns-default build}} }
