{% comment %}
## Patient banner template
## Properties:

- close-url
- banner.name
- banner.gender
- banner.date-birth
- banner.age
- banner.deceased
- banner.date-death
- banner.pseudonymous

{% endcomment %}
<div
        {% if banner.expand-url %}  {% comment %} allow banner to expand if there is a URL. {% endcomment %}
        class="cursor-pointer"
        hx-on:click="htmx.toggleClass('#banner-expanded', 'hidden');
                  htmx.ajax('GET', '{{banner.expand-url}}', '#banner-expanded')"
        {% endif %}
>

<div class="grid grid-cols-1 border-2 shadow-lg p-1 sm:p-4 sm:m-2 border-gray-200 bg-gray-50 relative">

    {% if close-url %}
    <div class="absolute top-0.5 sm:-top-2.5 right-0 sm:-right-2.5">
        <button class="rounded bg-white border hover:bg-gray-300 bg-gray-50 p-1"
                hx-get="{{ close-url }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
        </button>
    </div>
    {% endif %}

    {% if any banner.deceased banner.date-death %}
    <div class="grid grid-cols-1 pb-2">
        <span class="text-xs text-red-200 bg-red-500 text-center font-semibold inline-block py-1 px-2 uppercase rounded-full ml-1 last:mr-0 mr-1">
            {% if banner.date-death %}
            Died: {{banner.date-death|date:"dd-MMM-yyyy" }}
            {% else %}
            Deceased
            {% endif %}
        </span>
    </div>
    {% endif %}

    <div class="grid grid-cols-2 lg:grid-cols-5">
        {% if banner.name %}
            {% if banner.name|length > 30 %}
                <div class="font-bold text-sm min-w-min">{{ banner.name }}</div>
            {% else %}
                <div class="font-bold text-lg min-w-min">{{ banner.name }}</div>
            {% endif %}
        {% endif %}

        {% comment %} Gender for large screens {% endcomment %}
        <div class="hidden lg:block text-right lg:text-center lg:mr-2 min-w-min">
            {% if banner.gender %}
            <span>
                <span class="text-sm font-thin sm:inline">Gender </span>
                <span class="font-bold">{{ banner.gender }}</span>
            </span>
            {% endif %}
        </div>

        {% comment %} Date of birth, death and age for large screens {% endcomment %}
        <div class="hidden lg:block text-right lg:text-center lg:mr-2 min-w-min">
            {% if banner.date-birth %}
            <span class="text-sm font-thin">Born </span>
            <span class="font-bold">
                {% if banner.pseudonymous %}
                    {{ banner.date-birth|date:"MMM-yyyy" }}
                {% else %}
                    {{ banner.date-birth|date:"dd-MMM-yyyy"}}
                {% endif %}
            </span>
            {% endif %}
            {% if banner.age %}
                {% if not any banner.deceased banner.date-death %}
                <span class="font-thin">
                    &nbsp;
                        {% if banner.pseudonymous %}
                        (~{{ banner.age }})
                        {% elif banner.age %}
                        ({{ banner.age }})
                        {% endif %}
                </span>
                {% endif %}
            {% endif %}
        </div>
        {% comment %} Gender, date of birth for small screens {% endcomment %}
        <div class="lg:hidden text-right mr-8 md:mr-0">
            {{banner.gender}}
            {% if banner.date-birth %}
            <span class="font-bold">
                {{ if banner.pseudonymous }}
                    {{ banner.date-birth:date:"MMM-yyyy" }}
                {{ else }}
                    {{ banner.date-birth|date:"dd-MMM-yyyy"}}
                {{ endif }}
            </span>
            {% endif %}
        </div>
        {% if not banner.pseudonymous %}
            {% if banner.nhs-number %}
            <div class="lg:text-center lg:ml-2 min-w-min">
                <span class="text-sm font-thin">NHS No </span>
                <span class="font-bold">{{ banner.nhs-number }}</span>
            </div>
            {% endif %}
            {% if banner.crn %}
            <div class="text-right min-w-min">
                <span class="text-sm font-thin">CRN </span>
                <span class="font-bold">{{ banner.crn }}</span>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div {% if any banner.deceased banner.date-death %}
         class="grid grid-cols-1 bg-red-100"
         {% else %}
         class="grid grid-cols-1 bg-gray-100"
         {% endif %}>
        <div class="font-light text-sm tracking-tighter text-gray-500 truncate">
            {{ banner.address }}
        </div>
    </div>

    {% if banner.break-glass? %}
    <div class="pt-4">
        <div role="alert"
             class="bg-gray-100 border border-dashed border-gray-400 text-xs rounded italic p-1 text-center">
            You have temporary read-only access to this patient's record because you have used 'break-glass' functionality.
            Your access will be removed after logout.
        </div>
    </div>
    {% endif %}
</div>

<div id="banner-expanded" class="hidden">
</div>

</div>


