<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        {% if title %}
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold text-gray-900">{{ title }}</h1>
            <p class="mt-2 text-sm text-gray-700">{{ subtitle }}</p>
        </div>
        {% endif %}
    </div>
    <div class="flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                                Name
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                Date of birth
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                Date of death
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                NHS Number
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                CRN
                            </th>

                            {% comment %}
                            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                                <span class="sr-only">Edit</span>
                            </th>
                            {% endcomment %}
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">

                        {% for patient in patients %}
                        {% include "templates/patient/list-item.html" %}
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
