<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A PatientCare v4 application to help a patient or a responsible person complete an annual risk acknowledgement form (ARAF) for high risk medications such as sodium valproate and topiramate that may have adverse consequences during pregnancy.">
	<script src="/js/htmx-2.0.0.min.js"></script>
	{% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
	<link rel="stylesheet" href="/css/araf-patient.css">
	<title>pc4 {% if title %} : {{ title }} {% endif %}</title>
</head>

<body id="body" hx-boost="true" class="bg-gray-50">
	{% block header %}
	{% endblock %}

	{% block content %}
	{{ body|safe }}
	{% endblock %}

	{% block footer %}
	{% endblock %}
</body>

</html>