<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/htmx-2.0.0.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="/css/output.css">
	<title>pc4 {% if title %} : {{ title }} {% endif %}</title>
</head>

<body id="body" hx-boost="true" class="bg-gray-50">
	{% block header %}
	{% endblock %}

	{% block content %}
	{{ body|safe }}
	{% endblock %}

	{% block footer %}
	{% endblock %}
</body>

</html>