[{:version "v5.3"
  :date "2025-05-01"
  :title "Annual Risk Acknowledgement Form for Female Patients - VALPROATE HAS RISKS IN PREGNANCY"
  :document-ref "MAT-XU-2305459 (v2.0) May 2025"
  :step 4
  :step-title "To be completed by the patient or responsible person"
  :description "Completing this section of the form confirms that you, the patient (or your responsible person), have discussed and acknowledge the risks of using valproate during pregnancy and the measures needed to reduce the risk with your specialist prescriber."
  :note "It is recommended that you keep a copy of this form which will also be added to your medical notes."
  :info-url "More information can also be found online at www.medicines.org.uk by entering \"valproate\" in the search box and then clicking on \"Risk Materials\" next to any of the medicines listed."
  :preamble "I have discussed the benefits and risks of valproate compared to other treatments with my specialist prescriber and I acknowledge that:"
  :questions ["My medication should be reviewed regularly (at least once a year) and may need to be changed depending on my circumstances."
              
              "Valproate can cause serious harm to an unborn baby if taken by a mother during pregnancy and may lead to permanent disability."
              
              "The risks in children whose mothers took valproate during pregnancy are:<br/>• An approximately 11% chance of physical birth defects<br/>• Up to 30% to 40% of children may have problems with early childhood development. Children affected can be slow to walk and talk, intellectually less able than other children, and have difficulty with language and memory, or problems with development (behaviour and learning disorders) which can be seriously debilitating and/or permanent<br/>• a lower weight than expected for their age at birth"
              
              "I am aware of the need to have a negative pregnancy test before starting treatment with valproate and if needed, further pregnancy tests at subsequent appointments."
              
              "I am aware of the need to use an effective method of birth control (contraception), without stopping or interruption, while taking valproate."
              
              "The options for effective long-term methods of birth control (contraception) have been discussed (or a consultation has been planned with a professional who can give me advice)."
              
              "I need to consult my GP to be referred to my specialist prescriber as soon as I start thinking about becoming pregnant. This is to make sure I have time to switch to another treatment before I come off birth control (contraception)."
              
              "I should request an urgent appointment with my GP, to be urgently referred to my specialist prescriber, if I think I am pregnant."
              
              "I have been offered a copy of the valproate Patient Guide and know where to find more information online using the QR code on the leaflet in the pack."
              
              "I should not stop valproate or change the dose unless told to do so by my specialist as my condition may become worse, including an increase in seizures in patients treated for epilepsy and an increased risk of relapse in patients treated for bipolar disorder."]}]