{:deps    {org.clojure/clojure {:mvn/version "1.12.3"}
           poly/araf           {:local/root "../../components/araf"}
           poly/config         {:local/root "../../components/config"}
           poly/log            {:local/root "../../components/log"}
           poly/nhs-number     {:local/root "../../components/nhs-number"}

           poly/araf-server    {:local/root "../../bases/araf-server"}}

 :aliases {:test  {:extra-paths []
                   :extra-deps  {poly/arafc {:local/root "../../components/arafc"}
                                 poly/web   {:local/root "../../components/web"}}}
           :run   {:main-opts ["-m" "pc4.araf-server.main"]}
           :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd623"}}
                   :ns-default build}}}

