{:paths   ["src/main" "resources"]

 :deps    {org.clojure/clojure        {:mvn/version "1.11.1"}
           org.clojure/core.async     {:mvn/version "1.6.681"}

           com.eldrix/nhs-number      {:mvn/version "1.0.54"}

           bidi/bidi                  {:mvn/version "2.1.6"}
           com.taoensso/timbre        {:mvn/version "6.2.2"}
           com.fulcrologic/fulcro     {:mvn/version "3.6.8"}
           com.fulcrologic/guardrails {:mvn/version "1.1.13"}
           hiccup/hiccup              {:mvn/version "1.0.5"}}

 :aliases {:clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.85.1342"}}}

           ;; See https://github.com/clojure-emacs/cider-nrepl/blob/master/deps.edn for Emacs support
           :dev       {:extra-paths ["src/test" "src/dev" "src/workspaces"]
                       :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
                       :extra-deps  {org.clojure/clojurescript           {:mvn/version "1.11.60"}
                                     thheller/shadow-cljs                {:mvn/version "2.25.2"}
                                     fulcrologic/fulcro-spec             {:mvn/version "3.1.12"}
                                     holyjak/fulcro-troubleshooting      {:git/url "https://github.com/holyjak/fulcro-troubleshooting"
                                                                          :sha     "51599bf965f89cf58812a5c7753ab69154eded62" :tag "latest"}
                                     binaryage/devtools                  {:mvn/version "1.0.7"}
                                     com.github.awkay/workspaces         {:mvn/version "1.0.3"}
                                     com.teknql/shadow-cljs-tailwind-jit {:mvn/version "1.0.0"}
                                     org.clojure/tools.namespace         {:mvn/version "1.4.4"}}}

           :outdated  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "antq.core"]}

           :upgrade   {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "antq.core" "--upgrade"]}}}
