{:paths   ["src/main" "resources"]
 :deps    {org.clojure/clojure    {:mvn/version "1.10.3"}
           com.fulcrologic/fulcro {:mvn/version "3.5.7"}}

 :aliases {:dev      {:extra-paths ["src/dev"]
                      :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.893"}
                                    thheller/shadow-cljs      {:mvn/version "2.16.3"}
                                    binaryage/devtools        {:mvn/version "1.0.4"}}}
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts  ["-m" "antq.core"]}}}
