{:deps   {:aliases [:dev]}
 :nrepl  {:port 9000}
 :builds {:main       {:target          :browser
                       :output-dir      "resources/public/js/main"
                       :asset-path      "/js/main"

                       :modules         {:main {:init-fn pc4.client/init}}
                       ;; guardrails checks only during dev
                       :dev             {:build-hooks      [(teknql.tailwind/start-watch!)]
                                         :compiler-options
                                         {:closure-defines {pc4.client.server-url "http://localhost:8080"}
                                          :external-config {:guardrails {}}}}

                       :devtools        {:http-port  8022
                                         :http-root  "resources/public"
                                         :after-load pc4.client/refresh
                                         :preloads   [com.fulcrologic.fulcro.inspect.preload
                                                      com.fulcrologic.fulcro.inspect.dom-picker-preload]}
                       :tailwind/output "resources/public/css/site.css"
                       :tailwind/files  {:base-path    "./." ;; Path to directory housing `tailwind.config.js` and `postcss.config.js`
                                         :tailwind.css "./resources/public/css/tailwind.css"}
                       :release         {:build-hooks [(teknql.tailwind/compile-release!)]
                                         :compiler-options
                                         {:closure-defines {pc4.client.server-url "https://patientcare.app:8080"}}}}

          :workspaces {:target     nubank.workspaces.shadow-cljs.target
                       :ns-regexp  "-(test|ws)$"
                       :output-dir "resources/public/workspaces/js"
                       :asset-path "/workspaces/js"
                       :devtools   {:preloads           [com.fulcrologic.fulcro.inspect.preload]
                                    :http-root          "resources/public/workspaces"
                                    :http-port          8023
                                    :http-resource-root "."}}}}
