{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure         {:mvn/version "1.10.3"}
           org.clojure/clojurescript   {:mvn/version "1.10.866"}
           org.clojure/tools.logging   {:mvn/version "1.1.0"}

           com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
           com.cognitect/transit-cljs  {:mvn/version "0.8.269"}
           re-frame/re-frame {:mvn/version "1.2.0"}}

 :aliases {
           :test     {:extra-paths ["test" "test/resources"]
                      :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                               :sha     "62ef1de18e076903374306060ac0e8a752e57c86"}}
                      :main-opts   ["-m" "cognitect.test-runner"]}

           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts  ["-m" "antq.core"]}

           :check    {:extra-deps {athos/clj-check
                                   {:git/url "https://github.com/athos/clj-check.git"
                                    :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
                      :main-opts  ["-m" "clj-check.check" "src"]}

           :lint/kondo
                     {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                      :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
                     {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]
                      :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}}}
