{:deps {org.clojure/clojure   {:mvn/version "1.12.3"}

        ;; components
        poly/chart            {:local/root "../../components/chart"}
        poly/codelists        {:local/root "../../components/codelists"}
        poly/config           {:local/root "../../components/config"}
        poly/dates            {:local/root "../../components/dates"}
        poly/demographic      {:local/root "../../components/demographic"}
        poly/deprivare        {:local/root "../../components/deprivare"}
        poly/dmd              {:local/root "../../components/dmd"}
        poly/emailer          {:local/root "../../components/emailer"}
        poly/fhir             {:local/root "../../components/fhir"}
        poly/graph            {:local/root "../../components/graph"}
        poly/lemtrada         {:local/root "../../components/lemtrada"}
        poly/log              {:local/root "../../components/log"}
        poly/msbase           {:local/root "../../components/msbase"}
        poly/nhs-number       {:local/root "../../components/nhs-number"}
        poly/nhspd            {:local/root "../../components/nhspd"}
        poly/notify           {:local/root "../../components/notify"}
        poly/ods              {:local/root "../../components/ods"}
        poly/ods-ui           {:local/root "../../components/ods-ui"}
        poly/ods-weekly       {:local/root "../../components/ods-weekly"}
        poly/pathom-web       {:local/root "../../components/pathom-web"}
        poly/queue            {:local/root "../../components/queue"}
        poly/report           {:local/root "../../components/report"}
        poly/rsdb             {:local/root "../../components/rsdb"}
        poly/snomed           {:local/root "../../components/snomed"}
        poly/snomed-ui        {:local/root "../../components/snomed-ui"}
        poly/ui               {:local/root "../../components/ui"}
        poly/web              {:local/root "../../components/web"}
        poly/wales-cav-pms    {:local/root "../../components/wales-cav-pms"}
        poly/wales-empi       {:local/root "../../components/wales-empi"}
        poly/wales-nadex      {:local/root "../../components/wales-nadex"}
        poly/workbench        {:local/root "../../components/workbench"}

        ;; base components
        poly/workbench-server {:local/root "../../bases/workbench-server"}}

 :mvn/repos
 {"project-wonder" {:url "https://maven.wocommunity.org/content/repositories/releases/"}
  "other"          {:url "https://maven.wocommunity.org/content/groups/public/"}}

 :aliases
 {:test
  {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}

  :run
  {:main-opts ["-m" "pc4.server.core"]}

  :build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.4" :git/sha "31388ff"}
                slipset/deps-deploy           {:mvn/version "RELEASE"}}
   :ns-default build}}}
