{:paths     ["src" "resources"]
 :deps      {org.jfree/jfreechart {:mvn/version "1.5.4"}}
 :mvn/repos {"project-wonder" {:url "https://maven.wocommunity.org/content/repositories/releases/"}
             "other"          {:url "https://maven.wocommunity.org/content/groups/public/"}}

 :aliases   {:test {:extra-paths ["test"]
                    :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                                  pc4/rsdb               {:local/root "../rsdb"}}}}}
