{:paths ["src" "resources"]
 :deps {software.amazon.awssdk/s3            {:mvn/version "2.26.15"}
        software.amazon.awssdk/apache-client {:mvn/version "2.26.15"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
